<div class="study_left">
				<a href="/studycenter/mycollect/"><div class="left_ty my_sc<eq name='current' value='collect'>_c</eq>" value="1">
					我的收藏
				</div></a>
				<a href="/studycenter/mycuoti/"><div class="left_ty my_ct<eq name='current' value='cuoti'>_c</eq>" value="2">
					我的错题	
				</div></a>
				<a href="/studycenter/myceping/"><div class="left_ty my_cp<eq name='current' value='ceping'>_c</eq>" value="2">
					我的测评	
				</div></a>
				<a href="/studycenter/jsceping/"><div class="left_ty my_cp<eq name='current' value='jsceping'>_c</eq>" value="2">
					 教师测评	
				</div></a>
				<a href="/studycenter/mylianxi/"><div class="left_ty my_zy<eq name='current' value='lianxi'>_c</eq>" value="3">
					我的练习
				</div></a>
				<a href="/studycenter/myshijuan/"><div class="left_ty my_zy<eq name='current' value='shijuan'>_c</eq>" value="3">
					组卷记录
				</div></a>
				<a href="/baogao/stureport/"><div class="left_ty my_bg<eq name='current' value='baogao'>_c</eq>" value="5">
					学生报告
				</div></a>
			</div>