<include file="common:header" />
	<!--main-->

		<div class="xf_qiehuankmbox">
			<div class="xf_qiehuankminner">
				<div class="xf_dqkm">高中
					<span class="c_blue xf_dqkmlx">语文</span> 
				</div>
				<div class='xf_zaixuanzj'>试卷解析</div>
			</div>
		</div>	
		<!-- 试题解析 -->
		<div class="xf_zhentixlbox" style="position:relative;">
			<div class="xf_zhentxlbt">
				<h3>2015年高考全国新课标卷Ⅰ  语文真题</h3>
				<p>年份：2015   类型：高考真题    年级：高三时间：150分钟   总分：150分</p>
			</div>
			<div style="width:980px;background:#fff;padding:10px;padding-bottom:50px">
				<div style="border-bottom:1px solid #0190F2;width:100%;height:26px;">
					<div class="jx_style1 fl">答题情况</div>
					<div class="fr" style="margin-right:10px;">	
						<div class="fl">对错：</div>
						<div class="fl">
							<div class="nd_tag bg_lv fl"></div>
							<div class="fl" style="margin-left:10px;">对</div>
						</div>
						<div class="fl">
							<div class="nd_tag bg_hong fl"></div>
							<div class="fl" style="margin-left:10px;">错</div>
						</div>
						<div class="fl">
							<div class="nd_tag bg_hui fl"></div>
							<div class="fl" style="margin-left:10px;">未知</div>
						</div>
					</div>
				</div>
				<div style="margin:15px 40px;">
					<div class="jx_tag bg_lv">1</div>
					<div class="jx_tag bg_lv">2</div>
					<div class="jx_tag bg_lv">3</div>
					<div class="jx_tag bg_lv">4</div>
					<div class="jx_tag bg_lv">5</div>
					<div class="jx_tag bg_lv">6</div>
					<div class="jx_tag bg_lv">7</div>
					<div class="jx_tag bg_hui">8</div>
					<div class="jx_tag bg_lv">9</div>
					<div class="jx_tag bg_lv">10</div>
					<div class="jx_tag bg_lv">11</div>
					<div class="jx_tag bg_lv">12</div>
					<div class="jx_tag bg_hong">13</div>
					<div class="jx_tag bg_lv">14</div>
					<div class="jx_tag bg_lv">15</div>
					<div class="jx_tag bg_lv">16</div>
					<div class="jx_tag bg_hong">17</div>
					<div class="jx_tag bg_hong">18</div>
					<div class="jx_tag bg_hong">19</div>
					<div class="jx_tag bg_hui">20</div>
					<div class="clear"></div>
				</div>
				<div style="border-bottom:1px solid #0190F2;width:100%;height:26px;">
					<div class="jx_style1 fl">试卷讲评 </div>
				</div>
				
                <div id="num1" class="b_test xf_teshuli" style="width:980px;height:auto;float:left;margin-top:20px;">
                    <!-- 纠错 -->
					<div class="xf_jiecuobox">
						<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
						<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
					</div>
					<!-- 纠错end -->
					<a href="JavaScript:;" class="xf_jiucuo" style="text-align:center;line-height:27px;">纠错</a>
					<div style="width:960px;height:auto;float:left;margin:10px">  
						<div class="content">
							<div style="font-size:18px;color:#ff8100;">
								1.
							</div>
							<div style="line-height:30px;">
								下列关于植物细胞结构的叙述，正确的是
							</div>
							<div style="width:960px;">
								<div class="fl" style="width:50%;line-height:30px;">
									A. 细胞壁作为边界能将细胞与外界环境分隔开
								</div>
								<div class="fl" style="width:50%;line-height:30px;">
									B. 胞间连丝能实现细胞间信息物质的运输
								</div>
								<div class="fl" style="width:50%;line-height:30px;">
									C. 线粒体中的酶能催化葡萄糖分解为CO 2	
								</div>
								<div class="fl" style="width:50%;line-height:30px;">
									D. 溶酶体中的酶能催化修复损伤的细胞器
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div style="width:100%;height:35px;background:#F5F5F5;border-top:1px solid #CCCCCC;">
						<div class="fl jx_zq">
							回答正确
						</div>
						<div class="fr cp jx_stjx cur">隐藏解析 ∧</div>	
					</div>
					<div class="jx_xq">
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【我的答案】</div>
								<div style="margin-left:15px;">B</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【正确答案】</div>
								<div style="margin-left:15px;">B</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【考点】</div>
								<div style="margin-left:15px;line-height:30px;">
									<div>分子与细胞>>细胞的结构>>细胞膜的成分和功能 分子与细胞>>细胞的结构>>植物细胞壁的成分和功能 </div>
									<div>分子与细胞>>细胞的结构>>线粒体的结构和功能 分子与细胞>>细胞的结构>>溶酶体的结构和功能</div>
									<div>分子与细胞>>细胞的代谢>>有氧呼吸</div>
								</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【解析】</div>
								<div style="margin-left:15px;">
									<p style="line-height:30px;">	
										本题考查细胞结构的相关内容，意在考查考生灵活运用所学知识进行分析判断的能力。<br />
										A.细胞的边界是细胞膜，将细胞与外界环境分隔开，细胞壁只对植物细胞起保护和支持作用，A错误；<br />
										B.高等植物细胞之间通过胞间连丝相互连接并进行信息交流，B正确；<br />
										C.线粒体中的酶不能催化葡萄糖分解，只能催化丙酮酸分解，C错误；<br />
										D.溶酶体中的酶能分解衰老、损伤的细胞器，没有修复功能，D错误。<br />
										熟记细胞膜的功能及相关细胞器的结构和功能是解答此题的关键。<br />
										故选B。
									</p>
								</div>
							</div>
						</div>
					</div>	
                </div>
				<div id="num2" class="b_test xf_teshuli" style="width:980px;height:auto;float:left;margin-top:20px;">
                    <!-- 纠错 -->
					<div class="xf_jiecuobox">
						<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
						<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
					</div>
					<!-- 纠错end -->
					<a href="JavaScript:;" class="xf_jiucuo" style="text-align:center;line-height:27px;">纠错</a>
					<div style="width:960px;height:auto;float:left;margin:10px">  
						<div class="content">
							<div style="font-size:18px;color:#ff8100;">
								2.
							</div>
							<div style="line-height:30px;">
								<p>研究人员对伏牛山植物群落物种多样性进行调查研究。请回答：</p>
								<p>（1）在海拔500-1600 m区域分布有针阔叶混交林群落，调查发现，马尾松、栎树、水丝枥、枫香、香果树五种植物分布在山南坡，而没有分布在山北坡，这种现象表明群落具有&;________结构。 </p> 
								<p>（2）在海拔200-400 m区域人工种植有油松林，油松林的________ 稳定性比针阔叶混交林高；欲比较油松林与针阔叶混交林土壤中小动物类群的丰富度，一般不宜用样方法或标记重捕法对土壤动物进行调查，原因是许多土壤动物具有________特点。</p>
								<p>（3）在海拔150m以下区域，人们开辟有农田垦殖带，该农田被弃耕后发生的群落演替类型为 _________ 演替，在气候条件适宜情况下，该演替经历的阶段依次为 _______________。</p>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div style="width:100%;height:35px;background:#F5F5F5;border-top:1px solid #CCCCCC;">
						<div class="fl jx_cw">
							总分17分 您的得分：5分
						</div>
						<div class="fr cp jx_stjx cur">隐藏解析 ∧</div>			
					</div>
					<div class="jx_xq">
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【答案】</div>
								<div style="margin-left:15px;line-height:30px;">
									（1）水平（或空间）。<br />
									（2）恢复力；活动能力强，个体微小。<br />
									（3）次生；草本植物阶段、灌木阶段、森林阶段。<br />
								</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【考点】</div>
								<div style="margin-left:15px;line-height:30px;">
									稳态与环境>>种群和群落>>群落的结构 稳态与环境>>种群和群落>>土壤中动物类群丰富度的研究 <br />
									稳态与环境>>种群和群落>>群落演替的概念与类型 <br />
									稳态与环境>>生态系统>>生态系统的稳定性概念与类型 <br />
								</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【解析】</div>
								<div style="margin-left:15px;">
									<p style="line-height:30px;">	
										（1）在该群落中，马尾松、栎树、水丝枥、枫香、香果树五种植物分布在山南坡，而没有分布在山北坡，表明该区域的植物种群呈镶嵌分布的特点
，即群落具有水平（或空间）结构。<br />
（2）人工油松林中的生物种类比针阔叶混交林的少，营养结构简单，抵抗力稳定性低于针阔叶混交林，恢复力稳定性高于针阔叶混交林；土壤中小
动物类群的丰富度的调查，一般不宜用样方法或标记重捕法对土壤动物进行调查，原因是许多土壤动物具有活动能力强，个体微小的特点。<br />
（3）弃耕农田上发生的群落演替属于次生演替，在气候条件适宜情况下，该演替经历的阶段依次为草本植物阶段、灌木阶段、森林阶段。
本题主要考察群落的结构和群落演替及生态系统稳定性的内容，意在考察考生对基础知识的识记和应用能力。
									</p>
								</div>
							</div>
						</div>
					</div>	
                </div>
				<div id="num3" class="b_test xf_teshuli" style="width:980px;height:auto;float:left;margin-top:20px;">
                    <!-- 纠错 -->
					<div class="xf_jiecuobox">
						<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
						<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
					</div>
					<!-- 纠错end -->
					<a href="JavaScript:;" class="xf_jiucuo" style="text-align:center;line-height:27px;">纠错</a>
					<div style="width:960px;height:auto;float:left;margin:10px">  
						<div class="content">
							<div style="font-size:18px;color:#ff8100;">
								3.
							</div>
							<div style="line-height:30px;">
								下列关于植物细胞结构的叙述，正确的是
							</div>
							<div style="width:960px;">
								<div class="fl" style="width:100%;line-height:30px;">
									A. 细胞壁作为边界能将细胞与外界环境分隔开
								</div>
								<div class="fl" style="width:100%;line-height:30px;">
									B. 胞间连丝能实现细胞间信息物质的运输
								</div>
								<div class="fl" style="width:100%;line-height:30px;">
									C. 线粒体中的酶能催化葡萄糖分解为CO 2	
								</div>
								<div class="fl" style="width:100%;line-height:30px;">
									D. 溶酶体中的酶能催化修复损伤的细胞器
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div style="width:100%;height:35px;background:#F5F5F5;border-top:1px solid #CCCCCC;">
						<div class="fl js_wpg">
							为批改
						</div>
						<div class="fr cp jx_stjx">本题解析 ∨</div>			
					</div>
					<div class="jx_xq" style="display:none;">
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【答案】</div>
								<div style="margin-left:15px;">B</div>
							</div>
						</div>
						
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【考点】</div>
								<div style="margin-left:15px;line-height:30px;">
									<div>分子与细胞>>细胞的结构>>细胞膜的成分和功能 分子与细胞>>细胞的结构>>植物细胞壁的成分和功能 </div>
									<div>分子与细胞>>细胞的结构>>线粒体的结构和功能 分子与细胞>>细胞的结构>>溶酶体的结构和功能</div>
									<div>分子与细胞>>细胞的代谢>>有氧呼吸</div>
								</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【解析】</div>
								<div style="margin-left:15px;">
									<p style="line-height:30px;">	
										本题考查细胞结构的相关内容，意在考查考生灵活运用所学知识进行分析判断的能力。<br />
										A.细胞的边界是细胞膜，将细胞与外界环境分隔开，细胞壁只对植物细胞起保护和支持作用，A错误；<br />
										B.高等植物细胞之间通过胞间连丝相互连接并进行信息交流，B正确；<br />
										C.线粒体中的酶不能催化葡萄糖分解，只能催化丙酮酸分解，C错误；<br />
										D.溶酶体中的酶能分解衰老、损伤的细胞器，没有修复功能，D错误。<br />
										熟记细胞膜的功能及相关细胞器的结构和功能是解答此题的关键。<br />
										故选B。
									</p>
								</div>
							</div>
						</div>
					</div>	
                </div>
				<div class="clear"></div>
			</div>
			<div style="width:80px;position:absolute;top:50px;left:-100px;">
				<div class="jx_l_t">
				</div>
				<a href="#num1"><div class="jx_l_c">
					题目1
				</div></a>
				<a href="#num2"><div class="jx_l_check">
					题目2	
				</div></a>
				<a href="#num3"><div class="jx_l_c">
					题目3
				</div></a>
				<a href="#num4"><div class="jx_l_c">
					题目4
				</div></a>
				<div class="jx_l_t">
				</div>
			</div>
		</div>
		<!-- 试题解析end -->
		
	
<include file="common:footer" />
</html>