<include file="common:header" />
	<!--main-->

		<div class="xf_qiehuankmbox">
			<div class="xf_qiehuankminner">
				<div class="xf_dqkm"><eq name="course.course_type" value="1">高中<else/>初中</eq>
					<span class="c_blue xf_dqkmlx">{$course.course_name}</span> 
				</div>
				<div class='xf_zaixuanzj'>试卷解析</div>
			</div>
		</div>	
		<!-- 试题解析 -->
		<div class="xf_zhentixlbox" style="position:relative;">
			<div class="xf_zhentxlbt">
				<h3>{$lianxi.title}</h3>
				
			</div>
			<div style="width:980px;background:#fff;padding:10px;padding-bottom:50px">
				<div style="border-bottom:1px solid #0190F2;width:100%;height:26px;">
					<div class="jx_style1 fl">答题情况</div>
					<div class="fr" style="margin-right:10px;">	
						<div class="fl">对错：</div>
						<div class="fl">
							<div class="nd_tag bg_lv fl"></div>
							<div class="fl" style="margin-left:10px;">对</div>
						</div>
						<div class="fl">
							<div class="nd_tag bg_hong fl"></div>
							<div class="fl" style="margin-left:10px;">错</div>
						</div>
						<div class="fl">
							<div class="nd_tag bg_hui fl"></div>
							<div class="fl" style="margin-left:10px;">未批改</div>
						</div>
					</div>
				</div>
				<div style="margin:15px 40px;">
					<volist name="data" id="vo">
					<if condition="$vo.is_right eq 1">
					<div class="jx_tag bg_lv">{$vo.order_char}</div>
					<elseif condition="$vo.is_right eq -1"/>
					<div class="jx_tag bg_hong">{$vo.order_char}</div>
					<elseif condition="$vo.is_right eq 0"/>
					<div class="jx_tag bg_hui">{$vo.order_char}</div>
					</if>
					</volist>
					
					<div class="clear"></div>
				</div>
				<div style="border-bottom:1px solid #0190F2;width:100%;height:26px;">
					<div class="jx_style1 fl">试卷讲评 </div>
				</div>
				<volist name="data" id="vo">
                <div id="num1" class="b_test xf_teshuli" style="width:980px;height:auto;float:left;margin-top:20px;">
                    <!-- 纠错 -->
					<div class="xf_jiecuobox">
						<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
						<div><a href="JavaScript:;" onclick="baocuo($(this),{$vo.id})">确定</a><a href="JavaScript:;" onclick="quxiao($(this))">取消</a></div>
					</div>
					<!-- 纠错end -->
					<a href="JavaScript:;" class="xf_jiucuo" style="text-align:center;line-height:27px;" >纠错</a>
					<div style="width:960px;height:auto;float:left;margin:10px">  
						<div class="content">
							<div style="font-size:18px;color:#ff8100;">
								{$vo.order_char}.
							</div>
							<div style="line-height:30px;">
								{$vo.content|htmlspecialchars_decode}
							</div>
							<php>
	                		if($vo['type_id']==1||$vo['type_id']==6){
	                			$options = json_decode($vo['options']);
	                			if(empty($options)) break;
	                			$options_index = array(0=>'A',1=>'B',2=>'C',3=>'D',4=>'E');
	                    	</php>
							<div style="width:960px;">
								<php>
	                    			$k = 0;
	                    			foreach($options as $k=>$val){
	                    		</php>
								<div class="fl" style="width:50%;line-height:30px;">
									<php>echo $options_index[$k]</php>. <php>echo $val</php>
								</div>
								<php>}</php>
							</div>
							<php>}</php>
						</div>
					</div>
					<div class="clear"></div>
					<div style="width:100%;height:35px;background:#F5F5F5;border-top:1px solid #CCCCCC;">
						<eq name="vo.is_right" value="-1">
						<if condition="$vo.is_right eq -1">
						<div class="fl jx_cw">
							回答错误
						</div>
						<elseif condition="$vo.is_right eq 1"/>
						<div class="fl jx_zq">
							回答正确
						</div>
						<elseif condition="$vo.is_right eq 0"/>
						<div class="fl js_wpg">
							未批改
						</div>
						</if>
						<div class="fr cp jx_stjx cur">隐藏解析 ∧</div>	
					</div>
					<div class="jx_xq">
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【我的答案】</div>
								<div style="margin-left:15px;">{$vo.s_answer}</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【正确答案】</div>
								<div style="margin-left:15px;">{$vo.answer|htmlspecialchars_decode}</div>
							</div>
						</div>
						<div style="margin:10px;border-bottom:1px dashed #D9D9D9;">
							<div style="margin:10px;">
								<div class="right_sj">【解析】</div>
								<div style="margin-left:15px;">
									<p style="line-height:30px;">	
										{$vo.analysis|htmlspecialchars_decode}
									</p>
								</div>
							</div>
						</div>
					</div>	
                </div>
               </volist>
				
				
				<div class="clear"></div>
			</div>
			<div style="width:80px;position:absolute;top:50px;left:-100px;">
				<div class="jx_l_t">
				</div>
				<a href="#num1"><div class="jx_l_c">
					题目1
				</div></a>
				<a href="#num2"><div class="jx_l_check">
					题目2	
				</div></a>
				<a href="#num3"><div class="jx_l_c">
					题目3
				</div></a>
				<a href="#num4"><div class="jx_l_c">
					题目4
				</div></a>
				<div class="jx_l_t">
				</div>
			</div>
		</div>
		<!-- 试题解析end -->
		
<script>
	$(".jx_stjx").click(function(){
		if($(this).hasClass('cur')){
			$(this).removeClass('cur').html("本题解析 ∨").parents(".xf_teshuli").find(".jx_xq").slideUp(300);
		}else{
			$(this).addClass('cur').html("隐藏解析 ∧").parents(".xf_teshuli").find(".jx_xq").slideDown(300);
		}
	});
</script>
<include file="common:footer" />
</html>