<include file="common:header" />
	<!--main-->
	<div id="main"style="margin-top:2px;min-height:500px;">
		<div style="background:#DBF0FF;border-bottom:4px solid #0190F2;">
			<div style="width:1000px;height:68px;">
				<div style="float:left;line-height:68px;color:#0190F2;font-size:24px;font-weight:700;">学习中心</div>
			</div>
		</div>
		<div style="border:1px solid #D9D9D9;width:1006px;min-height:500px;margin-top:20px;margin-bottom:40px;background:#F5F5F5;">
			<include file="studycenter:left" />
			<div class="study_right">
				<!-- 我的收藏 -->
					<div class="show_tab_1" style="padding:10px;">
						<div style="float:left;">
							<div class="fl new_select">
								<div class="select_div fl">
									高中语文
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list">
									<div class="cp">全部</div>
									<div class="cp">最近一周</div>
									<div class="cp">最近一月</div>
									<div class="cp">最近三月</div>
								</div>
							</div>
						</div>
						<div style="clear:both;"></div>
						<div style="width:800px;min-hieght:80px;margin-top:10px;">
							<div class="fl" style="line-height:40px;">知识点：</div>
							<div class="fl">
								<div style="width:740px;height:30px;">
									<div class="fl">
										<div class="t_a">全部</div>
										<div class="t_a">新人教版A版</div>
										<div class="t_a">新人教版B版</div>
										<div class="t_a">苏教版</div>
										<div class="t_a">北师大版</div>
										<div class="t_a">湘教版</div>
										<div class="t_a">沪教版</div>
								    </div>
									<div  class="more_tags button btn_b fr">更多</div>
									<div class="clear"></div>
									<div style="width:740px;">
										<div class="t_a">全部</div>
										<div class="t_a">新人教版A版</div>
										<div class="t_a">新人教版B版</div>
										<div class="t_a">苏教版</div>
										<div class="t_a">北师大版</div>
										<div class="t_a">湘教版</div>
										<div class="t_a">沪教版</div>
								    </div>
								</div>
							</div>
						</div>
						<div style="clear:both;"></div>
						<div>
							<div class="big-te">
							<div class="xf_jiecuobox">
								<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
								<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
							</div>
							<a href="javascript:;" class="error_check"></a>
								<div class="content" style="border-bottom:1px solid #d9d9d9;padding:10px;line-height:20px;">
									难度：<span>1.00~0.86(容易)</span> 题型：<span>选择题</span>
								</div>	
								<div style="width:770px;height:auto;float:left;margin-left:20px">  
		
									<table style="margin-top:10px" >
									<tbody>
										<tr>
											<td valign="top">
												<span class="quesindex"></span><span class="tips"></span>
											</td>
											<td>
												<p class="quest_p" >
												<span class="quest_span">已知a > b，则下列不等关系正确的是（&nbsp;&nbsp;&nbsp; ）</span>
												</p>
												<p class="quest_p">
													<span class="quest_span"><div class="opt"> A.ac > bc</div> <div class="opt"> B.ac2 > bc2</div> </span>
												</p>
												<p class="quest_p">
													<span class="quest_span"><div class="opt"> C.2a > 2b </div> <div class="opt"> D.a2 > b2 </div></span>
												</p>
											</td>
										</tr>
									</tbody>
									</table>
								</div>
								 <!-- 解析按钮-->
								<div class="analys" style="width:96%;"><span>本题解析</span><div style="float:right;">来源：2015届河南省陕州中学高三下学期第一次月考试卷（带分析）</div></div>
								<div class="hidde-div" style="width:806px;">
									<div class="poptip">
										<span class="poptip-arrow poptip-arrow-top"><em>◆</em><i>◆</i></span>
										 可以从以下几个方面利益：①除旧布新，推成出新。要丢尽禁锢的老思想，打破固有的生活方式，冲破原有的生活圈子，走出属于自己新的生活道路。开创一遍新天地。②要不懈追求没不要安于现状，当鸟儿安于现状的时候，只能艰难度日，当他被迫寻求安生之地，却发现了绿周，找到更适合生活的地方。
									</div>
								</div>  
								<!-- 点赞使用情况-->
								<div class="oparate" style="width:806px;border-bottom-left-radius:5px;">
									<div style="line-height:40px;float:left;margin-left:10px;"><span>最近一次使用时间：2015-12-23</span></div>
									<div class="add_exam"><span>+加入试卷</span></div>
									<div class="qxsc"><span>取消收藏</span></div>   
								</div>  
							</div>
							<div class="big-te">
							<div class="xf_jiecuobox">
								<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
								<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
							</div>
							<a href="javascript:;" class="error_check"></a>
								<div class="content" style="border-bottom:1px solid #d9d9d9;padding:10px;line-height:20px;">
									难度：<span>1.00~0.86(容易)</span> 题型：<span>选择题</span>
								</div>	
								<div style="width:770px;height:auto;float:left;margin-left:20px">  
		
									<table style="margin-top:10px" >
									<tbody>
										<tr>
											<td valign="top">
												<span class="quesindex"></span><span class="tips"></span>
											</td>
											<td>
												<p class="quest_p" >
												<span class="quest_span">已知a > b，则下列不等关系正确的是（&nbsp;&nbsp;&nbsp; ）</span>
												</p>
												<p class="quest_p">
													<span class="quest_span"><div class="opt"> A.ac > bc</div> <div class="opt"> B.ac2 > bc2</div> </span>
												</p>
												<p class="quest_p">
													<span class="quest_span"><div class="opt"> C.2a > 2b </div> <div class="opt"> D.a2 > b2 </div></span>
												</p>
											</td>
										</tr>
									</tbody>
									</table>
								</div>
								 <!-- 解析按钮-->
								<div class="analys" style="width:96%;"><span>本题解析</span><a href=""><div style="float:right;color:#FF9118">来源：2015届河南省陕州中学高三下学期第一次月考试卷（带分析）</div></a></div>
								<div class="hidde-div" style="width:806px;">
									<div class="poptip">
										<span class="poptip-arrow poptip-arrow-top"><em>◆</em><i>◆</i></span>
										 可以从以下几个方面利益：①除旧布新，推成出新。要丢尽禁锢的老思想，打破固有的生活方式，冲破原有的生活圈子，走出属于自己新的生活道路。开创一遍新天地。②要不懈追求没不要安于现状，当鸟儿安于现状的时候，只能艰难度日，当他被迫寻求安生之地，却发现了绿周，找到更适合生活的地方。
									</div>
								</div>  
								<!-- 点赞使用情况-->
								<div class="oparate" style="width:806px;border-bottom-left-radius:5px;">
									<div style="line-height:40px;float:left;margin-left:10px;"><span>最近一次使用时间：2015-12-23</span></div>
									<div class="delete_exam">-移出试卷</div>
									<div class="qxsc"><span>取消收藏</span></div>   
								</div>  
							</div>
						</div>
						<div style="clear:both;"></div>
						<div>						
							<div class="page">
								<a href="##" style="width:100px">上一页</a>
								<a class="check" href="##">1</a>
								<a href="##">2</a>
								<a href="##">3</a>
								<span>...</span>
								<a href="##">38</a>
								<a href="##" style="width:100px;">下一页</a>
								<div style="clear:both;"></div>
							</div>	
						</div>
					</div>
				<!-- 收藏结束 -->
				
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!--footer-->
	<!--本题解析展开收起-->
 <script type="text/javascript">
	$(".analys").click(function(){
		if($(this).hasClass('cur')){
			$(this).removeClass('cur').parents(".big-te").find(".hidde-div").slideUp();
		}else{
			$(this).addClass('cur').parents(".big-te").find(".hidde-div").slideDown();
		}
	});
	
</script>

<include file="common:footer" />