<include file="common:header" />
	<!--main-->
	<div id="main"style="margin-top:2px;min-height:500px;">
		<div style="background:#DBF0FF;border-bottom:4px solid #0190F2;">
			<div style="width:1000px;height:68px;">
				<div style="float:left;line-height:68px;color:#0190F2;font-size:24px;font-weight:700;">学习中心</div>
			</div>
		</div>
		<div style="border:1px solid #D9D9D9;width:1006px;margin-top:20px;margin-bottom:40px;background:#F5F5F5;">
			<include file="studycenter:left" />
			<div class="study_right">
				<!-- 我的收藏 -->
					<div class="show_tab_1" style="padding:10px;">
						<div style="float:left;">
							<div class="fl new_select">
								<select name="" style="width: 100px;" id="course_sel">
										<volist name="all_course" id="vo" >
										<option <eq name="vo.id" value="$course_id">selected="" </eq> value="{$vo.id}"><eq name="vo.course_type" value="1">高中<else />初中</eq>{$vo.course_name}</option>
										</volist>
									</select>
							</div>
						</div>
						<div style="clear:both;"></div>
						<div style="width:800px;min-hieght:80px;margin-top:10px;">
							<div class="fl" style="line-height:40px;">知识点：</div>
							<div class="fl">
								<div style="width:740px;height:30px;">
									<div class="fl">
										<div class="t_a<eq name="point_id" value="0">_check</eq>" id="0">全部</div>
										<volist name="point" id="vo">
										<div class="t_a<eq name="point_id" value="$vo.id">_check</eq>" id="{$vo.id}">{$vo.point_name}</div>
										</volist>
								    </div>
								</div>
							</div>
						</div>
						<div style="clear:both;"></div>
						<div>
						<volist  name="data" id="vo">
							<div class="big-te">
							<div class="xf_jiecuobox">
								<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
								<div><a href="JavaScript:;" onclick="baocuo($(this),{$vo.id})">确定</a><a href="JavaScript:;" onclick="quxiao($(this))">取消</a></div>
							</div>
							<a href="javascript:;" class="error_check"></a>
								<div class="content" style="border-bottom:1px solid #d9d9d9;padding:10px;line-height:20px;">
									难度：<span>{$vo.section}({$vo.description})</span> 题型：<span>{$vo.type_name}</span>
								</div>	
								<div style="width:770px;height:auto;float:left;margin-left:20px">  
		
									<table style="margin-top:10px" >
									<tbody>
										<tr>
											<td valign="top">
												<span class="quesindex"></span><span class="tips"></span>
											</td>
											<td>
												<p class="quest_p" >
												{$vo.content|htmlspecialchars_decode}
												</p>
												<php>
						                		if($vo['type_id']==2||$vo['type_id']==6){
						                			$options = json_decode($vo['options']);
						                			if(empty($options)) break;
						                			$options_index = array(0=>'A',1=>'B',2=>'C',3=>'D',4=>'E');
						                			$k = 0;
	                    							foreach($options as $k=>$val){
						                    	</php>
												<p class="quest_p">
													<php>echo $options_index[$k]</php>. <php>echo $val</php>
												</p>
												<php>}}</php>
											</td>
										</tr>
									</tbody>
									</table>
								</div>
								 <!-- 解析按钮-->
								<div class="analys" style="width:96%;"><span>本题解析</span><div style="float:right;">来源：{$vo.source_name}</div></div>
								<div class="hidde-div" style="width:806px;">
									<div class="poptip">
										<span class="poptip-arrow poptip-arrow-top"><em>◆</em><i>◆</i></span>
										{$vo.analysis|htmlspecialchars_decode}
									</div>
								</div>  
								<!-- 点赞使用情况-->
								<div class="oparate" style="width:806px;border-bottom-left-radius:5px;">
									<div style="line-height:40px;float:left;margin-left:10px;"><div class="fl my_da">我的答案：C</div><div class="fl right_da">正确答案：D</div></div>
									<div class="add_exam"><span>+加入试卷</span></div>
									<div class="qxsc"><span>移除该题</span></div>   
								</div>  
							</div>
						</volist>
							
						</div>
						<div style="clear:both;"></div>
						<div>						
							<div class="page">
								{$page_show}
								<div style="clear:both;"></div>
							</div>	
						</div>
					</div>
				<!-- 收藏结束 -->
				
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
	<!--footer-->
<script type="text/javascript">
	$(".analys").click(function(){
		if($(this).hasClass('cur')){
			$(this).removeClass('cur').parents(".big-te").find(".hidde-div").slideUp();
		}else{
			$(this).addClass('cur').parents(".big-te").find(".hidde-div").slideDown();
		}
	});
	$('#plist').children('div').click(function(){
		var id = $(this).attr('id');
		 var href = window.location.href;
		 if(href.search(/\?cid=/g)!=-1){
		 	if(href.search(/[\?|&]p=\d+/)!=-1){
				href = href.replace(/[\?|&]p=\d+/,'');
			}
		 	if(href.search(/\pid=\d+/)!=-1){
			 	var loc = href.replace(/(\pid=\d+)/,'pid='+id);
			 	window.location.href = loc;
		 	}else{
			 	window.location.href = href+'&pid='+id;
		 	}
		 }else{
		 	window.location.href = "/studycenter/mycollect/?pid="+id;
		 }
		
	});
	$('#course_sel').change(function(){
		var val = $(this).val();
		window.location.href = "/studycenter/mycollect/?cid="+val;
	});
	$('.error_check').click(function(){
		$(this).prev().show();
	});
</script>

<include file="common:footer" />