<include file="common:header" />
<!--main-->
<!--main-->
	<div style="margin-top:2px;min-height:500px;">
		<div style="background:#DBF0FF;border-bottom:4px solid #0190F2;">
			<div style="width:1000px;height:64px;">
				<div style="float:left;line-height:68px;color:#4c4c4c;font-size:24px;"><eq name="this_course_type" value="1"> 高中 <else /> 初中 </eq><span class="c_blue">{$this_course_name}</span></div>
				<div style="float:right;color:#fff;font-size:20px;background:#0190F2;padding:10px 20px;margin-top:20px;border-top-left-radius:5px;border-top-right-radius:5px;">在线组卷</div>
			</div>
		</div>
		<div class="content">
			<!--预览内容-->
			<div class="preview-box">
				<div class="ks_top_title">
					<div class="type" id="quickstyles">
						<ul>
							<li><a href="javascript:;" class="yl-on" id="biaozhun">标准样式</a></li>
							<li><a href="javascript:;" id="zuoye">作业样式</a></li>
						</ul>
					</div>
					<div class="topcy" id="ecTools">
						<ul>
							<li><a class="goon" href="javascript:;" id="filterReturn" onclick="jixuxuanti()">继续选题</a></li>
							<li><a class="goon_1" href="javascript:;">在线练习</a></li>
							<li><a class="goon_1 xf_xffsxs" href="javascript:;" id="filterReturn">发送学生</a></li>
							<li><a id="paperdownload" class="goon_1" href="javascript:;">生成试卷</a></li>
							<li><a id="answercar" class="goon_1" href="javascript:;">生成答题卡</a></li>
						</ul>
					</div>
				</div>
				<!--title end-->
				<div id="ct" class="ct3_a wp cl">
					<div>
						<div class="bm bw0">
							<div class="xld xlda pml mtm mbm" id="rightdiv">
								<div id="pui_box">
									<div id="pui_root" align="left">
										<div id="pui_seal" title="装订线" class="b_z">
											<div id="pui_sealline" style="font-size:11px;height:20px;line-height:20px;">
												…………○…………外…………○…………装…………○…………订…………○…………线…………○…………
											</div>
											<div id="pui_sealinput">
												<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tbody>
												<tr>
													<td class="pui_sealblock">
													</td>
													<td align="center">
														<div id="pui_sealinputtext">
															学校:___________姓名：___________班级：___________考号：___________
														</div>
													</td>
													<td class="pui_sealblock">
													</td>
												</tr>
												</tbody>
												</table>
											</div>
											<div id="pui_sealline" style="font-size:11px;height:20px;line-height:20px;">
												…………○…………内…………○…………装…………○…………订…………○…………线…………○…………
											</div>
										</div>
										<div id="pui_main">
											<div id="pui_head">
												<div class="partm">
													<div class="editpart" id="btn1"></div>
												</div>
												<div id="pui_title" >
													<div id="pui_maintitle" title="试卷主标题">
														{$shijuan.title}
													</div>
												</div>
												<div class="z_y" style="display: none;" id="pui_studentinput" title="考生信息填写栏">
													学校:___________姓名：___________班级：___________考号：___________
												</div>
												<div class="b_z" id="pui_testinfo" title="试卷信息栏">
													
												</div>
												<div class="b_z" id="pui_notice" title="考生注意事项栏">
													
													<div id="pui_noticetext">
														{$shijuan_attention}
													</div>
												</div>
											</div>
											
											<div id="pui_body">
												<notempty name="first_juan">
												<div class="paperpart" id="paperpart1">
													<div class="parthead b_z" id="parthead1" style="display:;">
														<div class="partmenu">
															<div class="editpart" id="btn2"></div>
														</div>
														<div class="partheadbox" id="partheadbox1">
															<div class="partname" id="partname1">
																{$first_juan.t_title}
															</div>
															<div class="partnote" id="partnote1">
																{$first_juan.note}
															</div>
														</div>
													</div>
													<volist name="first_juan.shiti" key="kk" id="vo">
													<div class="partbody" >
														<div class="questype" id="questype1_1">
															<div class="questypehead" id="questypehead1_1" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">
																<div class="questypemenu">
																	<div class="check_class" juan_no="1" shiti_no="{$kk}">换一组</div>
																	<div class="editpart btn3" shiti_no="{$kk}" juan_no="1"></div>
																</div>
																<div class="questypeheadbox" id="questypeheadbox1_1">
																	<table border="0" cellpadding="0" cellspacing="0" width="100%" height="60px;">
																	<tbody>
																	<tr>
																		<td width="1">
																			<div class="questypescore" id="questypescore1_1" style="width:120px;display:;">
																				<table title="评分栏" style="border: 1px solid rgb(102, 102, 102);" border="1" bordercolor="#666666" cellpadding="0" cellspacing="0">
																				<tbody>
																				<tr>
																					<td style="border: 1px solid rgb(102, 102, 102);" align="center" height="20" width="55">
																						&nbsp;评卷人&nbsp;
																					</td>
																					<td style="border: 1px solid rgb(102, 102, 102);" align="center" width="55">
																						&nbsp;得&nbsp;&nbsp;分&nbsp;
																					</td>
																				</tr>
																				<tr>
																					<td style="border: 1px solid rgb(102, 102, 102);" align="center" height="30">
																						&nbsp;
																					</td>
																					<td style="border: 1px solid rgb(102, 102, 102);">
																						&nbsp;
																					</td>
																				</tr>
																				</tbody>
																				</table>
																			</div>
																		</td>
																		<td>
																			<div class="questypetitle">
																				<span class="questypeindex"><b>{$vo.order_char}、</b></span><span class="questypename" id="juan_1_{$kk}">{$vo.t_title}</span><!-- <span class="questypenote" id="questypenote1_1">（本题共5道小题，每小题0分，共0分）</span> -->
																			</div>
																		</td>
																	</tr>
																	</tbody>
																	</table>
																</div>
															</div>
															<div class="questypebody">
																<volist name="vo.childs" id="v" key="ks">
																<div class="quesbox" id="quesbox1579176" data-score="">
																	<div class="quesopmenu" shiti_id="{$v.id}" juan_no="1" shiti_no="{$kk}" key="{$ks-1}">
																		<a class="ico_zjgn1" onclick="autoXuanti($(this))">自动选题</a>
																		<a class="ico_zjgn2">手动选题</a>
																		<a class="ico_zjgn3" onclick="moveUp($(this))">上移</a>
																		<a class="ico_zjgn4" onclick="moveDown($(this))">下移</a>
																		<a class="ico_zjgn5" onclick="jiexi($(this))">解析</a>
																		<a class="ico_zjgn6" onclick="deleteMe($(this))">删除</a>
																		<a class="ico_zjgn7" onclick="toBaocuo($(this))">纠错</a>
																	</div>

	<!-- 纠错 -->
	<div class="xf_jiecuobox">
		<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
		<div><a href="JavaScript:;" onclick="baocuo($(this),{$v.id});">确定</a><a href="javascript:;" onclick="quxiao($(this));">取消</a></div>
	</div>
	<!-- 纠错end -->
																	<div class="quesdiv" id="quesdiv1579176">
																		<table>
																		<tbody>
																		<tr>
																			<td valign="top">
																				<span class="quesindex"><b>{$v.order_char}</b>.</span><span class="tips"></span>
																			</td>
																			<td>
																				<p style="font-size:10.5pt; line-height:150%; margin:0pt; orphans:0; text-align:justify; widows:0">
																					{$v.content|htmlspecialchars_decode}
																					<php>
															                    		if($v['options']){
															                    			$options = json_decode($v['options']);
															                    			$options_index = array(0=>'A',1=>'B',2=>'C',3=>'D',4=>'E');
															                    	</php>
															                    	<p>
															                    		<php>
															                    			$k = 0;
															                    			foreach($options as $k=>$val){
															                    		</php>
															                    			<span style="float:left;line-height:18px;font-size:14px;padding-right:30px;" class="em2"><php>echo $options_index[$k]</php>.<php>echo $val</php></span>
															                    		<php>
															                    			}
															                    		</php>
															                    	</p>
															                    	<php>
															                    	}
															                    	</php>
																				</p>
																			</td>
																		</tr>
																		</tbody>
																		</table>
																		<br>
																		<div class="xf_jiexibox">
																			<p>答案：{$v.answer|htmlspecialchars_decode}</p>
																			<p>试题解析：</p>
																			<p>{$v.analysis|htmlspecialchars_decode} </p>
																		</div>
																	</div>
																</div>
															</volist>

															</div>
														</div>
													</div>
												</volist>
												</div>
												</notempty>
												
												<notempty name="second_juan">
												<div class="paperpart" id="paperpart2">
													<div class="parthead b_z" id="parthead2" style="display:;">
														<div class="partmenu">
															<div class="editpart"></div>
														</div>
														<div class="partheadbox" id="partheadbox2">
															<div class="partname" id="partname2">
																{$second_juan.t_title}
															</div>
															<div class="partnote" id="partnote2">
																{$second_juan.note}
															</div>
														</div>
													</div>
													<div class="partbody">
														<volist name="second_juan.shiti" key="kk" id="vo">
														<div class="questype" id="questype2_0">
															<div class="questypehead" id="questypehead2_5" style="border: 1px solid rgb(255, 255, 255); background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0);">
																<div class="questypemenu">
																	<div class="check_class" juan_no="2" shiti_no="{$kk}">换一组</div>
																	<div class="editpart" juan_no="2" shiti_no="{$kk}"></div>
																</div>
																<div class="questypeheadbox" id="questypeheadbox2_5">
																	<table border="0" cellpadding="0" cellspacing="0" width="100%" height="60px">
																	<tbody>
																	<tr>
																		<td width="1">
																			<div class="questypescore" id="questypescore2_5" style="width:120px;display:;">
																				<table title="评分栏" style="border: 1px solid rgb(102, 102, 102);" border="1" bordercolor="#666666" cellpadding="0" cellspacing="0">
																				<tbody>
																				<tr>
																					<td style="border: 1px solid rgb(102, 102, 102);" align="center" height="20" width="55">
																						&nbsp;评卷人&nbsp;
																					</td>
																					<td style="border: 1px solid rgb(102, 102, 102);" align="center" width="55">
																						&nbsp;得&nbsp;&nbsp;分&nbsp;
																					</td>
																				</tr>
																				<tr>
																					<td style="border: 1px solid rgb(102, 102, 102);" align="center" height="30">
																						&nbsp;
																					</td>
																					<td style="border: 1px solid rgb(102, 102, 102);">
																						&nbsp;
																					</td>
																				</tr>
																				</tbody>
																				</table>
																			</div>
																		</td>
																		<td>
																			<div class="questypetitle">
																				<span class="questypeindex"><b>{$vo.order_char}、</b></span><span class="questypename" id="juan_2_{$kk}">{$vo.t_title}</span><!-- <span class="questypenote" id="questypenote2_5">（本题共1道小题,第1题0分,共0分）</span> -->
																			</div>
																		</td>
																	</tr>
																	</tbody>
																	</table>
																</div>
															</div>
															
															<div class="questypebody">
																<volist name="vo.childs" id="v" key="ks">
																<div class="quesbox" id="quesbox1579226" data-score="">
																	<div class="quesopmenu" shiti_id="{$v.id}" juan_no="2" shiti_no="{$kk}" key="{$ks-1}">
																		<a class="ico_zjgn1" onclick="autoXuanti($(this))">自动选题</a>
																		<a class="ico_zjgn2">手动选题</a>
																		<a class="ico_zjgn3" onclick="moveUp($(this))">上移</a>
																		<a class="ico_zjgn4" onclick="moveDown($(this))">下移</a>
																		<a class="ico_zjgn5" onclick="jiexi($(this))">解析</a>
																		<a class="ico_zjgn6" onclick="deleteMe($(this))">删除</a>
																		<a class="ico_zjgn7" onclick="toBaocuo($(this))">纠错</a>
																	</div>

	<!-- 纠错 -->
	<div class="xf_jiecuobox">
		<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>
		<div><a href="JavaScript:;" onclick="baocuo($(this),{$v.id});">确定</a><a href="JavaScript:;" onclick="quxiao($(this));">取消</a></div>
	</div>
	<!-- 纠错end -->
																	<div class="quesdiv" id="quesdiv1579226">
																		<table>
																		<tbody>
																		<tr>
																			<td valign="top">
																				<span class="quesindex"><b>{$v.order_char}．</b></span><span class="tips"></span>
																			</td>
																			<td>
																				<p style="font-size:10.5pt; line-height:150%; margin:0pt; orphans:0; text-indent:21pt; widows:0">
																					{$v.content|htmlspecialchars_decode}
																				</p>
																			</td>
																		</tr>
																		</tbody>
																		</table>
																		<br>
																		<div class="xf_jiexibox">
																			<p>答案：{$v.answer|htmlspecialchars_decode}</p>
																			<p>试题解析：</p>
																			<p>{$v.analysis|htmlspecialchars_decode} </p>
																		</div>
																	</div>
																	
																</div>
																</volist>
															</div>
														
														</div>
													</volist>
													</div>
												</div>
											</notempty>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="appl" style="display:none">
							<div class="tbn">
								<h2 class="mt bbda">试卷结构</h2>
								<div id="paperstruct_body">
								</div>
							</div>
							<div class="drag">
								<!--[diy=diy2]-->
								<div id="diy2" class="area">
								</div>
								<!--[/diy]-->
							</div>
						</div>
					</div>
					<!-- <div class="preview-end ">
						<a href="#" class="scsj-btn" id="bigpaperdownload">生成试卷</a>
					</div> -->
				</div>
				<!--预览结束-->
			</div>
			<div class="hr_10">
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div style="padding:10px; display:none;" class="" id="dtk_div">
		<div id="Div1" class="windown-answerSheetContent">
			<div class="mbprintTxt mbanswerSheetTxt">
				<ul>
					<li>
					<div>
						<span>格式</span>
					</div>
					<div class="fl">
						<label><input name="doctype" value="docx" type="radio" checked=""><span>Word 2007/2010</span><font class="datika_doc">，文件扩展名为docx</font></label>
						<!-- <label><input name="docversion" checked="checked" value="doc" type="radio"><span>Word 2000/2003</span><font class="datika_doc">，文件扩展名为doc</font></label> -->
					</div>
					</li>
					<li>
						<div style="width:520px;height:20px;">
							<span>模板</span>
						</div>
						<div style="width:520px;">
							<label class="A4"><input name="doc_model" value="common" type="radio"><span>普通表格</span></label>
							<label class="B4"><input name="doc_model" value="standard" checked="true" type="radio"><span>标准答题A卡</span></label>
							<label class="A3"><input name="doc_model" value="intensive" type="radio"><span>标准答题B卡</span></label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div style="padding:10;display:none;q" class="" id="sj_div">
		
			<table style="padding: 15px;" border="0" cellpadding="0" cellspacing="0" width="720px">
			<tbody>
			<tr>
				<td >
					<b>Word版本</b>
				</td>
			</tr>
			<tr>
				<td id="doc_type">
					<input name="doctype" value="docx" checked="" style="vertical-align:middle;" id="docx" type="radio"><label for="docx">&nbsp;Word 2007/2010，文件扩展名为<span class="red">docx</span></label><br>
					<!-- <input name="docversion" checked="checked" value="doc" style="vertical-align:middle;" id="doc" type="radio"><label for="doc">&nbsp;Word 2000/2003，文件扩展名为<span class="red">doc</span></label><br> -->
				</td>
			</tr>
			<tr>
				<td >
					<b>纸张大小</b>
				</td>
			</tr>
			<tr>
				<td >
					<table border="0" cellpadding="0" cellspacing="0" width="695px">
					<tbody>
					<div>
						<div valign="bottom" style="margin-right:50px;float:Left;">
							&nbsp;<a id="p_A4"></a>
						</div>
						<div valign="bottom" style="margin-right:50px;float:Left;">
							&nbsp;&nbsp;<a id="p_A4H"></a>
						</div>
						<div valign="bottom" style="margin-right:50px;float:Left;">
							&nbsp;<a id="p_A3"></a>
						</div>
						<div valign="bottom" style="float:Left;">
							&nbsp;<a id="p_A3H"></a>
						</div>
					</div>
					<div class="clear"></div>
					<div id="shijuan_model"> 
						<div style="float:left;margin-right:35px">
							<input name="model" checked="checked" value="A4" id="A4" type="radio"><label for="A4">A4纸竖版</label>
						</div>
						<div style="float:left;margin-right:40px">
							<input name="model" value="A3" id="A3" type="radio"><label for="A3">A3纸横版</label>
						</div>
						<div style="float:left;margin-right:60px">
							<input name="model" value="B5" id="B5" type="radio"><label for="B5">B5纸竖版</label>
						</div>
						<div style="float:left;">
							<input name="model" value="B4" id="B4" type="radio"><label for="B4">B4纸横版</label>
						</div>
					</div>
					</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td >
					<b>试卷类型</b>
				</td>
			</tr>
			<tr>
				<td id="answer_order">
					<input name="answer_order" value="2" checked="checked"  style="vertical-align:middle;" id="papertype_normal" type="radio"><label for="papertype_normal">&nbsp;普通用卷（答案集中在卷尾）<br>
					<input name="answer_order" value="1" style="vertical-align:middle;" id="papertype_teacher" type="radio"><label for="papertype_teacher">&nbsp;教师用卷（每题后面跟答案）<br>
					<input name="answer_order" value="3" style="vertical-align:middle;" id="papertype_student" type="radio"><label for="papertype_student">&nbsp;学生用卷（无答案）<br>
					</label></label></label>
				</td>
			</tr>
			<iframe src="" id="down_iframe" style="display:none;"></iframe>
			<!-- <tr>
				<td >
					<b>其他属性</b>
				</td>
			</tr>
			<tr>
				<td >
					<input name="showsoure" value="normal" style="vertical-align:middle;" id="showsoure" type="checkbox"><label for="showsoure">&nbsp;是否标记每道试题来源。</label><br>
				</td>
			</tr> -->
			</tbody>
			</table>
		
	</div>
	<div class="alert">
		此条件下已无试题可选！
	</div>
	<div class="xf_fanhuidb"><a href="#"></a></div>
	<!-- 发生给学生 -->
	<div class="xf_fasongxspop">
		<div class="xf_biaoti">选择学生<a href="JavaScript:;"></a></div>
		<div class="xf_tianjiaxs"><input id="student_text" type="text"  placeholder="请输入正确的账号" /><a href="JavaScript:;" onclick="add_student()">添加新学生</a></div>
		<div class="xf_xueshenglb">
			<ul id="my_students">

			</ul>
		</div>
		<div class="xf_quanbfs"><a href="JavaScript:;">全部选择</a></div>
		<div class="xf_fasongbutton"><a href="JavaScript:;">发送</a></div>
	</div>
	<div class="xf_popbg"></div>
	<!-- 发生给学生end -->

	<!-- 编辑框 -->
	<div class="xf_bianjipop xf_bjpoplx1">
		<div class="xf_biaoti">头部编辑<a href="JavaScript:;"></a></div>
		<div class="xf_bianjinner">
			<ul>
				<li><span>标题：</span><input type="text" /></li>
				<li><span>学校：</span><input type="text" /></li>
				<li><span>姓名：</span><input type="text" /></li>
				<li><span>考号：</span><input type="text" /></li>
			</ul>
		</div>
		<div class="xf_tybutton">
			<a href="JavaScript:;">取消</a>
			<a href="JavaScript:;" class='cur'>确定</a>
		</div>
	</div>
	<div class="xf_bianjipop xf_bjpoplx2">
		<div class="xf_biaoti">头部编辑<a href="JavaScript:;"></a></div>
		<div class="xf_bianjinner">
			<ul>
				<li><span>标题：</span><input type="text" name="ShijuanTitle" id="ShijuanTitle" value="{$shijuan_title}"/></li>
				
				<li><span>副标题：</span><textarea name="ShijuanSubTitle" id="ShijuanSubTitle" cols="30" rows="10">{$shijuan_subtitle}</textarea></li>
				<li><span>时间：</span><input type="text" name="ShijuanTitle" id="ShijuanLimitTime" value="{$shijuan_limittime}" style="width:50px"/>分钟</li>
				<!-- <li><span>注意事项：</span><textarea name="ShijuanAttention" id="ShijuanAttention" cols="30" rows="10">{$shijuan_attention}</textarea></li> -->
			</ul>
		</div>
		<div class="xf_tybutton">
			<a href="JavaScript:;">取消</a>
			<a href="JavaScript:;" class='cur' id="EditShijuanTitle">确定</a>
		</div>
	</div>

	<div class="xf_bianjipop xf_bjpoplx3">
		<div class="xf_biaoti">卷头编辑<a href="JavaScript:;"></a></div>
		<div class="xf_bianjinner">
			<ul>
				<li><span>卷标：</span><input type="text" id="FirstjuanTitle" value="{$first_juan.t_title}"/></li>
				<li><span>卷标：</span><input type="text" id="FirstjuanNote" value="{$first_juan.note}"/></li>
			</ul>
		</div>
		<div class="xf_tybutton">
			<a href="JavaScript:;">取消</a>
			<a href="JavaScript:;" class='cur' id="EditFirstjuanTitle">确定</a>
		</div>
	</div>

	<div class="xf_bianjipop xf_bjpoplx4">
		<input type="hidden" id="juan_no" value="" />
		<input type="hidden" id="shiti_no" value="" />
		<div class="xf_biaoti">题型编辑<a href="JavaScript:;"></a></div>
		<div class="xf_bianjinner">
			<ul>
				<li><span>题型名称：</span><input type="text" name="tixing_name" id="tixing_name" /></li>
				<!-- <li><span>题型注释：</span><input type="text" /></li> -->
				<li><span>小题分值：</span><input type="text" id="xiaoti_score" name="fenzhi_xuanze"/></li>
			</ul>
		</div>
		<div class="xf_tybutton">
			<a href="JavaScript:;">取消</a>
			<a href="JavaScript:;" class='cur' id="EditXiaotiScore">确定</a>
		</div>
	</div>

	<div class="xf_bianjipop xf_bjpoplx5">
		<div class="xf_biaoti">设置分值<a href="JavaScript:;"></a></div>
		<div class="xf_bianjinner xf_fenzhibox">
			<ul>
				<li><span>本题分值：</span><input type="text" /></li>
			</ul>
		</div>
		<div class="xf_tybutton">
			<a href="JavaScript:;">取消</a>
			<a href="JavaScript:;" class='cur'>确定</a>
		</div>
	</div>

<script>
	$(".check_class").click(function(){
		var juan_no = $(this).attr('juan_no');
		var shiti_no = $(this).attr('shiti_no');
		var obj = $(this);
		$.getJSON(
			'/index.php/home/shijuan/ajaxChangeOneTeam',
			{juan_no:juan_no,shiti_no:shiti_no},
			function(data){
				//alert(data.id);
				if(data.status=='ok'){
					obj.parent().parent().next().html(data.data);
				}
			}
			
		);
	});
	$(window).scroll(function() {
		var xf_scroll = $(window).scrollTop();
		if(xf_scroll>305){
			$(".ks_top_title,.preview-box").addClass('xf_cur');
		}else{
			$(".ks_top_title,.preview-box").removeClass('xf_cur');
		}
	});
	$(".xf_xffsxs").click(function(){
		$.getJSON(
			'/index.php/home/member/ajaxGetMyStudents',
			function(data){
				//alert(data.id);
				if(data.status=='ok'){
					var html = '';
					$.each(data.data, function(index,vo) {
					  html += '<li id="'+vo.id+'" onclick="student_sel($(this))">'+vo.nick_name+'</li>';
				
					});
					$('#my_students').html(html);
				}
			}
			
		);
		$(".xf_fasongxspop,.xf_popbg").show();
	});
function add_student(){
	var val = $('#student_text').val();
	if(val=='') return false;
	$.getJSON(
		'/index.php/home/member/ajaxAddStudent',
		{student:val},
		function(data){
			//alert(data.id);
			if(data.status=='ok'){
				var html = '<li id="'+data.data.id+'" onclick="student_sel($(this))">'+data.data.nick_name+'</li>';
				$('#my_students').append(html);
			}else{
				alert(data.msg);
			}
		}
		
	);
}
//选择学生
function student_sel(obj){
	if(obj.hasClass('active')){
		obj.removeClass('active');
	}else{
		obj.addClass('active');
	}
}
//发给学生
$('.xf_fasongbutton a').click(function(){
	var obj = $('#my_students li[class=active]');
	var ids = '';
	if(obj.length>0){
		obj.each(function(){
			ids += $(this).attr('id')+',';
		});
		$.getJSON(
		'/index.php/home/shijuan/ajaxSendStudent',
		{ids:ids},
		function(data){
			//alert(data.id);
			if(data.status=='success'){
				$(".xf_fasongxspop,.xf_popbg").hide();
			}else{
				alert(data.msg);
			}
		}
		
	);
	}else{
		alert('请选择学生');
	}
});
$('#btn1').click(function(){
	$('.xf_bjpoplx2').show();
});
$('#EditShijuanTitle').click(function(){
	$.getJSON(
			'/shijuan/ajaxEditShijuanTitle',
			{title:$('#ShijuanTitle').val(),subtitle:$('#ShijuanSubTitle').val(),limittime:$('#ShijuanLimitTime').val()},
			function(data){
				if(data.status=='success'){
					$('#pui_maintitle').html(data.data.title);
					$( "#pui_testinfo" ).html(data.data.subtitle);
				}
			}
	);
});
$('#btn2').click(function(){
	$('.xf_bjpoplx3').show();
});
$('#EditFirstjuanTitle').click(function(){
	$.getJSON(
			'/shijuan/ajaxFirstjuanTitle',
			{title:$('#FirstjuanTitle').val(),note:$('#FirstjuanNote').val()},
			function(data){
				if(data.status=='success'){
					$('#partname1').html(data.title);
					$('#partnote1').html(data.note);
				}
			}
	);
});
$('.btn3').click(function(){
	var juan_no = $(this).attr('juan_no');
	var shiti_no = $(this).attr('shiti_no');
	$('#juan_no').val(juan_no);
	$('#shiti_no').val(shiti_no);
	$.getJSON(
			'/shijuan/ajaxGetXiaotiScore',
			{juan_no:juan_no,shiti_no:shiti_no},
			function(data){
				if(data.status=='success'){
					$('#tixing_name').val(data.data.title);
					$('#xiaoti_score').val(data.data.xiaoti_score);
				}else{
					return false;
				}
			}
	);
	$('.xf_bjpoplx4').show();
});
$('#EditXiaotiScore').click(function(){
	var juan_no = $('#juan_no').val();
	var shiti_no = $('#shiti_no').val();;
	$.getJSON(
		'/shijuan/ajaxEditXiaotiScore',
		{juan_no:juan_no,shiti_no:shiti_no,xiaoti_score:$('#xiaoti_score').val()},
		function(data){
			if(data.status=='success'){
				var id = 'juan_'+data.juan_no+'_'+data.shiti_no;
				$('#'+id).html(data.title);
				$('#pui_testinfo').html(data.subtitle);
			}
		}
	);
});

function autoXuanti(obj){
	var shiti_id = obj.parent().attr('shiti_id');
	var juan_no = obj.parent().attr('juan_no');
	var shiti_no = obj.parent().attr('shiti_no');
	var key = obj.parent().attr('key');
	$.getJSON(
		'/shijuan/ajaxChangeOne',
		{shiti_id:shiti_id,juan_no:juan_no,shiti_no:shiti_no,key:key},
		function(data){
			if(data.status=='ok'){
				obj.parent().parent().html(data.data);
			}
		}
	);
}

function jiexi(obj){
	if(obj.hasClass('active')){
		obj.removeClass('active');
		obj.parents(".quesbox").find(".xf_jiexibox").hide();
	}else{
		obj.addClass('active');
		obj.parents(".quesbox").find(".xf_jiexibox").show();
	}
}
function moveUp(){
	
}
function moveDown(obj){
	var shiti_id = obj.parent().attr('shiti_id');
	var juan_no = obj.parent().attr('juan_no');
	var shiti_no = obj.parent().attr('shiti_no');
	var key = obj.parent().attr('key');
	$.getJSON(
		'/shijuan/ajaxMoveDown',
		{shiti_id:shiti_id,juan_no:juan_no,shiti_no:shiti_no,key:key},
		function(data){
			if(data.status=='ok'){
				
				//alert(obj.parent().parent().find("b").html());
				var me_order = parseInt(obj.parent().parent().find("b").html())+1;
				var down_order = parseInt(obj.parent().parent().next().find("b").html())-1;
				obj.parent().parent().find("b").html(me_order);
				obj.parent().parent().next().find("b").html(down_order);
				
				var me_k = parseInt(obj.parent().attr("key"))+1;
				var down_k = parseInt(obj.parent().parent().next().find(".quesopmenu").attr("key"))-1;
				obj.parent().attr("key",me_k);
				obj.parent().parent().next().find(".quesopmenu").attr("key",down_k);
				
				var me = obj.parent().parent().html();
				var down = obj.parent().parent().next().html();
				obj.parent().parent().next().html(me);
				obj.parent().parent().html(down);
			}
		}
	);
}
function moveUp(obj){
	var shiti_id = obj.parent().attr('shiti_id');
	var juan_no = obj.parent().attr('juan_no');
	var shiti_no = obj.parent().attr('shiti_no');
	var key = obj.parent().attr('key');
	$.getJSON(
		'/shijuan/ajaxMoveup',
		{shiti_id:shiti_id,juan_no:juan_no,shiti_no:shiti_no,key:key},
		function(data){
			if(data.status=='ok'){
				
				//alert(obj.parent().parent().find("b").html());
				var me_order = parseInt(obj.parent().parent().find("b").html())-1;
				var down_order = parseInt(obj.parent().parent().prev().find("b").html())+1;
				obj.parent().parent().find("b").html(me_order);
				obj.parent().parent().prev().find("b").html(down_order);
				
				var me_k = parseInt(obj.parent().attr("key"))-1;
				var down_k = parseInt(obj.parent().parent().prev().find(".quesopmenu").attr("key"))+1;
				obj.parent().attr("key",me_k);
				obj.parent().parent().prev().find(".quesopmenu").attr("key",down_k);
				
				var me = obj.parent().parent().html();
				var down = obj.parent().parent().prev().html();
				obj.parent().parent().prev().html(me);
				obj.parent().parent().html(down);
			}
		}
	);
}
function deleteMe(obj){
	var shiti_id = obj.parent().attr('shiti_id');
	var juan_no = obj.parent().attr('juan_no');
	var shiti_no = obj.parent().attr('shiti_no');
	var key = obj.parent().attr('key');
	$.getJSON(
		'/shijuan/ajaxdelete',
		{shiti_id:shiti_id,juan_no:juan_no,shiti_no:shiti_no,key:key},
		function(data){
			if(data.status=='ok'){
				$.each($(".partbody .quesbox"),function(){
					var ojuan_no = $(this).children('.quesopmenu').attr('juan_no');
					var oshiti_no = $(this).children('.quesopmenu').attr('shiti_no');
					var okey = $(this).children('.quesopmenu').attr('key');
					if(ojuan_no>juan_no){
						var val = parseInt($(this).find('b').html())-1;
						$(this).find('b').html(val);
					}else{
						if(oshiti_no>shiti_no){
							var val = parseInt($(this).find('b').html())-1;
							$(this).find('b').html(val);
						}else if(oshiti_no==shiti_no){
							if(okey>key){
								var val = parseInt($(this).find('b').html())-1;
								$(this).find('b').html(val);
							}	
						}
					}
					
				});
				obj.parent().parent().remove();
			}
		}
	);
}
function toBaocuo(obj){
	obj.parent().siblings(".xf_jiecuobox").show();
}
function jixuxuanti(){
	$.getJSON(
		'/shijuan/ajaxGoTiku',
		function(data){
			if(data.status=='ok'){
				window.location.href = "/tiku/"+data.pinyin+'/';
			}
		}
	);
}
</script>
<link href="__PUBLIC__/js/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" type="text/css" />
<include file="common:footer" />