<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$meta_title}</title>
<meta name="keywords" content="{$meta_keyword}" />
<meta name="description" content="{$meta_description}" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
{$my_css}
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.1.min.js"></script>
</head>
<body>
	<!--header-->
	<div id="head">
		<div style="width:1000px;">
			<a href="__ROOT__"><div class="left logo"></div></a>
			<div class="left top_line"></div>
			<div class="left top_title">找回密码</div>
			<div class="right top_r">
				<div class="left"><a href="__ROOT__">返回首页</a></div>
				<div class="left top_r_line"></div>
				<div class="left"><a href="__ROOT__/member/login">马上登陆</a></div>
			</div>
		</div>
	</div>