<include file="common:_header" />
<link href="__PUBLIC__/css/user.css" rel="stylesheet" type="text/css" />
<!--main-->
<div class="width">
	<div class="b_top">
    	<!--left-->
        	<include file="Member:left" />
        
        <!--right-->
        <div class="uright">
        	<!--三个小标-->
            <ul class="zy_ul">
            	<li><a href=""><img src="images/c1.jpg" /></a></li>
                <li><a href=""><img src="images/c2.jpg" /></a></li>
                <li><a href=""><img src="images/c3.jpg" /></a></li>
            </ul>
           <!---->
           
           <h3>个人主页</h3>
           <div class="zy_con">
               <p>小三，欢迎您！</p>
               <p><span>交易提醒：待支付订单<font class="c_l">（0）</font></span>
               	  <span>订单总数<font class="c_l">（0）</font></span>
               </p>
               <p>
               		<span>学生卡账余额：<font class="c_z">￥0元</font></span>
                    <span>账户余额有效期：无</span>
               </p>
           </div>
           
           <h3>挑错有礼</h3>
          	<div class="zy_con">
            	 <p>总计：0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过：0 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  待审核：0</p>
          		 <p>已奖励：<font class="c_z">0.00元</font>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="c_l">兑换</a>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="c_l">活动规则</a>
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="" class="c_l">查看记录</a>
                 </p>
            </div>
            
           <div class="zy_tit">邮箱绑定：&nbsp;&nbsp;&nbsp;&nbsp;xiaosan2438@163.com      已验证</div>
           <div class="zy_tit">手机绑定：&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="c_l">绑定</a></div>
        </div>
    
    </div>
</div>

<include file="common:footer" />