<include file="common:header" />
<!--main-->
<div id="main"style="margin-top:2px;min-height:500px;">
		<div style="background:#DBF0FF;border-bottom:4px solid #0190F2;">
			<div style="width:1000px;height:68px;">
				<div style="float:left;line-height:68px;color:#4c4c4c;font-size:24px;"><span class="c_blue">个人中心</span></div>
                <!-- <div style="float:right;color:#000;font-size:18px;padding:10px 50px;margin-top:20px;border-top-left-radius:5px;border-top-right-radius:5px;">消息中心<b>→</b></div> -->
			</div>
		</div>

	<div style="width:1000px;margin-top:10px;">

		<!--左边-->
		<include file="Member:left" />

            
        <!--右边-->
		<div class="fr" style="float:left;width:806px;border:1px solid #D9D9D9;border-left:0px;margin-bottom:40px"> 	
			<div style="margin:5px 10px">
 
                <div class="na1" style="width:760px;">
                    <div class="fl na_n_check">
                        个人资料
                    </div>
                    <div class="fl na_n">
                        修改密码
                    </div>
                    <!-- <div class="fl na_n">
                        密码保护
                    </div> -->
               	</div>
                <div class="PersonData" style="width:780;margin:15px 25px">
					<!-- <div class="Rmain">
						<div class="rleft">
							<span>资料完成度：</span>
						</div>
						<div class="rright">
							<div class="fl">35%</div>
							<div class="fl" style="border:1px solid #D9D9D9;width:240px;height:18px;border-radius:50px;">
								<div style="width:35%;float:left;background:#FF9118;height:14px;border-radius:50px;margin:2px;"></div>
							</div>
						</div>
					</div> --> 
					<div class="Rmain">
						 <div class="rleft">
							<span>头像设置：</span> 
						 </div>
						 <div class="rright"> 
							<img id="photo_id" src="{$user_info.photo}"  width="120px" height="120px">
							<div class="cp" id="check_photo" style="width:120px;height:25px;line-height:25px;text-align:center;margin-top:-25px;background:#fff;filter:alpha(opacity=80);-moz-opacity:0.80;opacity:0.80;color:#E51010;">	
								更改头像
							</div>
						 </div>
						
					</div>
					 
					<div class="Rmain">
						<div class="rleft">
							<span>昵称：</span>
						</div>
						<div class="rright">
							<span>{$user_info.nick_name} </span>
						</div>
					</div>
					<div class="Rmain">
						<div class="rleft">
							<span>真实姓名：</span>
						</div>
						<div class="rright">
							<input type="text" id="real_name"  placeholder="请输入真实姓名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入真实姓名'" value="{$user_info.real_name}"/>
						</div>
					</div>
					 
					 <!-- <div class="Rmain">
					 <div class="rleft">
					 <span>性别：</span>
					 </div>
					 <div class="rright"> 
					 <div class="fl radio_img"> <p class="active">保密</p></div>
					 <div class="fl radio_img"> <p>男</p></div>
					 <div class="fl radio_img"> <p>女</p></div>
					 </div>    
					 </div> -->
					 
					<!-- <div class="Rmain">
						 <div class="rleft">
						 <span>生日：</span>
						 </div>
						 <div class="rright"> 
							<div class="fl new_select" style="width:110px;">
								<div class="select_div fl" style="width:50px;">
									请选择
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list" style="width:86px;">
									<div class="cp">2016</div>
								</div>
							</div>
							<div class="fl" style="line-height:35px;padding:0px 10px;">
								年
							</div>
							<div class="fl new_select" style="width:110px;">
								<div class="select_div fl" style="width:50px;">
									请选择
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list" style="width:86px;">
									<div class="cp">2016</div>
								</div>
								
							</div>
							<div class="fl" style="line-height:35px;padding:0px 10px;">
								月
							</div>
							<div class="fl new_select" style="width:110px;">
								<div class="select_div fl" style="width:50px;">
									请选择
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list" style="width:86px;">
									<div class="cp">2016</div>
								</div>
							</div>
							<div class="fl" style="line-height:35px;padding:0px 10px;">
								日
							</div>
						 </div>
					</div> -->	
					<div class="Rmain">
						<div class="rleft">
							<span>所在地区：</span>
						</div>
						<div class="rright"> 
							<div class="fl new_select" style="width:110px;">
								<!-- <div class="select_div fl" style="width:50px;">
									请选择
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list" style="width:86px;">
									<div class="cp">2016</div>
								</div> -->
								<select style="width:110px;" id="province">
									<option value="0">请选择</option>
									<volist name="province" id="vo">
										<option value="{$vo.region_id}"  <eq name="vo.region_id" value="$user_info.province_id">selected=""</eq>>{$vo.region_name}</option>
									</volist>
								</select>
							</div>
							<div class="fl" style="line-height:35px;padding:0px 10px;">
								省（市）
							</div>
							<div class="fl new_select" style="width:110px;">
								<!-- <div class="select_div fl" style="width:50px;">
									请选择
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list" style="width:86px;">
									<div class="cp">2016</div>
								</div> -->
								<select style="width:110px;" id="city">
									<option value="0">请选择</option>
								</select>
							</div>
							<div class="fl" style="line-height:35px;padding:0px 10px;">
								市（区）
							</div>
							<!-- <div class="fl new_select" style="width:110px;">
								<div class="select_div fl" style="width:50px;">
									请选择
								</div>
								<div class="sel_down fl"></div>
								<div class="sel_list" style="width:86px;">
									<div class="cp">2016</div>
								</div>
							</div>
							<div class="fl" style="line-height:35px;padding:0px 10px;">
								县（区）
							</div> -->
						 </div>    
					</div>
					 <input type="hidden" id="province_id" value="{$user_info.province_id}" />
					 <input type="hidden" id="city_id" value="{$user_info.city_id}" />
					 <input type="hidden" id="school_id" value="{$user_info.school_id}" />
					<div class="Rmain">
						<div class="rleft">
							<span>所在学校：</span>
						</div>
						<div class="rright"> 
							<div style="display:inline">
								<div>
									<!-- <div class="fl new_select" style="width:110px;">
										<div class="select_div fl" style="width:50px;">
											请选择
										</div>
										<div class="sel_down fl"></div>
										<div class="sel_list" style="width:86px;">
											<div class="cp">2016</div>
										</div>
									</div>
									<div class="fl" style="line-height:35px;padding:0px 10px;">
										学校
									</div> -->
									<select style="width:150px;" id="school">
										<option value="0">请选择</option>
									</select>
									<!-- <span style="margin-left:5px;line-height:35px;color:#1194f3;cursor:pointer">没有您的学校？</span>  -->
								</div>  
								<!-- <div class="hide">
									<div class="hideinput"><input type="" style="width:180px;height:30px;padding:5px;"/></div>
									<div class="del">-</div> 
								</div> -->
							</div>  	 
						</div>
					</div>
					 
					<div class="Rmain">
						<div class="rleft">
							<span>所在年段：</span>
						</div>
						<div class="rright" id="grade" style="width:300px;height:80px;color: #fff;"> 
							<div class="gradelist gradelist1">
								<div class="stu_1 gr <eq name="user_info.my_grade" value="1">active</eq>" id="1">初一</div> 
								<div class="stu_1 gr <eq name="user_info.my_grade" value="2">active</eq>" id="2">初二</div>
								<div class="stu_1 gr <eq name="user_info.my_grade" value="3">active</eq>" id="3">初三</div>
							</div>  
							<div class="gradelist gradelist2">
								<div class="stu_2 gr <eq name="user_info.my_grade" value="4">active</eq>" id="4" >高一</div> 
								<div class="stu_2 gr <eq name="user_info.my_grade" value="5">active</eq>" id="5">高二</div>
								<div class="stu_2 gr <eq name="user_info.my_grade" value="6">active</eq>" id="6">高三</div>
							</div>
						</div>  
					</div>
					<div class="Rmain">
						<div class="rleft">
							<span>所选学科：</span>
						</div>
						<div class="rright" style="width:300px;height:120px;color: #fff;"> 
							<div class="gradelist gradelist3">
								<volist name='gaozhong' id='vo'>
								<div class="stu_3" id="{$vo.id}">{$vo.course_name}</div> 
								</volist>
							</div>
							<div class="clear"></div>
						</div>  	
					</div> 
					<div class="Rmain">
						<div class="rleft">
							<span>个人介绍：</span>
						</div>
						<div class="rright"> 
							<textarea id="description" placeholder="介绍一下自己吧..." onfocus="this.placeholder=''" onblur="this.placeholder='介绍一下自己吧...'" style="border:1px solid #CCC;overflow:auto;width:450px;height:70px;padding: 8px;">{$user_info.description}</textarea> 
						</div> 
					</div>  
					  
					<div class="Rmain">
						<div class="rleft">
						</div>
						<div class="rright"> 
							<div class="save_btn">保存</div>
						</div> 
					</div> 
				</div>
            </div>                 
		</div>					
	</div>	
</div>
	<!--头像-->	
	<div id="head_photo" style="display:none;">
		<div class="windown-choosePhotoContent" style="width:600px;height:240px" id="windown-content">
			<div class="choosePhoto">
				<input type="hidden" id="phpto_hidden" />
				<div class="changearea">
					<div class="img">
						<span>男</span>
						<ul>
							<volist name="menPhotos" id="vo">
							<li id="wp_li"><a href="javascript:;" class="photo_a"><img src="{$vo}" alt="" id="wp_img" height="80" width="80"></a></li>
							</volist>
						</ul>
					</div>
					<div class="img">
						<span>女</span>
						<ul>
							<volist name="womenPhotos" id="vo">
							<li id="wp_li"><a href="javascript:;" class="photo_a"><img src="{$vo}" alt="" id="wp_img" height="80" width="80"></a></li>
							</volist>
						</ul>
					</div>
				</div>
				<!-- <div class="upload">
					<span class="myPhoto"></span>
					<a href="javascript:;"  class="" style="color:#1194F3;">上传头像</a>
					<a href="javascript:;" class="replace" >换一批</a>
					<div id="fsUploadProgress" style="height:0;display:none">
					</div>
				</div> -->
				
			</div>
		</div>
	</div>
<link href="__PUBLIC__/js/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery-ui-1.11.2.custom/jquery-ui.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/dialog.js" type="text/javascript"></script>
<script>
	$('.photo_a').click(function(){
		$('#phpto_hidden').val($(this).find('img').attr('src'));
	});

	$('#change_a').click(function(){
		$(this).hide();
		$(this).next().show();
	});
	$('#cancel').click(function(){
		$('.passwordBox').hide();
		$('#change_a').show();
	});
	$('#savePass').click(function(){
		$.getJSON(
			'/member/ajaxResetPassword',
			{password:$('#password').val(),new_password:$('#newPassword').val(),check_new_password:$('#check_new_password').val()},
			function(data){
				if(data.status=='success'){
					alert('密码修改成功！');
					$('.passwordBox').hide();
					$('#change_a').show();
				}else{
					alert(data.info);
				}
			}
		);
	});
</script>
<script type="text/javascript" src="__PUBLIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<link href="/Public/css/validform.css" rel="stylesheet" type="text/css" />
<script>
	$(
		function(){
   		$(".page_content").Validform(
   			{tiptype:3}
   		);
    });
    $(function(){
    	var province_id = $('#province_id').val();
    	var city_id = $('#city_id').val();
    	var school_id = $('#school_id').val();
    	if(province_id>0){
    		$.getJSON(
	    		'/member/ajaxgetcitydata',
	    		{id:province_id},
	    		function(data){
	    			if(data.status=='ok'){
	    				var html = '<option value="0">请选择</option>';
	    				$.each(data.data,function(key,val){
	    					if(val.region_id==city_id){
	    						html += '<option value="'+val.region_id+'" selected="">'+val.region_name+'</option>';
	    					}else{
	    						html += '<option value="'+val.region_id+'">'+val.region_name+'</option>';
	    					}
	    				});
	    				$('#city').html(html);
	    			}else{
	    				var html = '<option value="0">请选择</option>';
	    				$('#city').html(html);
	    				$('#school').html(html);
	    			}
	    		}
	    	);
    	}
    	if(school_id>0){
    		$.getJSON(
	    		'/member/ajaxgetschooldata',
	    		{id:city_id},
	    		function(data){
	    			if(data.status=='ok'){
	    				var html = '<option value="0">请选择</option>';
	    				$.each(data.data,function(key,val){
	    					
	    					if(val.id==school_id){
	    						html += '<option value="'+val.id+'" selected="">'+val.school_name+'</option>';
	    					}else{
	    						html += '<option value="'+val.id+'">'+val.school_name+'</option>';
	    					}
	    				});
	    				$('#school').html(html);
	    			}else{
	    				var html = '<option value="0">请选择</option>';
	    				$('#school').html(html);
	    			}
	    		}
	    	);
    	}
    });
    $('#province').change(function(){
    	var id = $(this).val();
    	$.getJSON(
    		'/member/ajaxgetcitydata',
    		{id:id},
    		function(data){
    			if(data.status=='ok'){
    				var html = '<option value="0">请选择</option>';
    				$.each(data.data,function(key,val){
    					html += '<option value="'+val.region_id+'">'+val.region_name+'</option>';
    				});
    				$('#city').html(html);
    			}else{
    				var html = '<option value="0">请选择</option>';
    				$('#city').html(html);
    				$('#school').html(html);
    			}
    		}
    	);
    });
     $('#city').change(function(){
    	var id = $(this).val();
    	$.getJSON(
    		'/member/ajaxgetschooldata',
    		{id:id},
    		function(data){
    			if(data.status=='ok'){
    				var html = '<option value="0">请选择</option>';
    				$.each(data.data,function(key,val){
    					html += '<option value="'+val.id+'">'+val.school_name+'</option>';
    				});
    				$('#school').html(html);
    			}else{
    				var html = '<option value="0">请选择</option>';
    				$('#school').html(html);
    			}
    		}
    	);
    });
    $('#grade div .gr').click(function(){
    	var val = $(this).attr('id');
    	var obj = $(this);
    	$.getJSON(
    		'/member/ajaxSelGrade',
    		{id:val},
    		function(data){
    			if(data.status=='ok'){
    				obj.addClass('active');
			    	obj.siblings().removeClass('active');
			    	obj.parent().siblings().find('.gr').removeClass('active');
    			}
    		}
    	);
    });
    $('.gradelist3').children('div').click(function(){
    	var len = $('#grade').find(".active").length;
    	if(len==0){
    		alert('请先选择年段');
    		return false;
    	}
    	var val = $(this).attr('id');
    	var obj = $(this);
    	if(obj.hasClass('active')){
    		obj.removeClass('active');
    	}else{
    		obj.addClass('active');
    	}
    });
    $('.save_btn').click(function(){
    	var real_name = $('#real_name').val();
    	if($.trim(real_name)==''){
    		alert('请输入真实姓名');
    		return false;
    	}
    	var school_id = $('#school').val();
    	if(school_id==0){
    		alert('请选择您所在学校');
    		return false;
    	}
    	var province_id = $('#province').val();
    	if(province_id==0){
    		alert('请选择您所在省份');
    		return false;
    	}
    	var city_id = $('#city').val();
    	if(city_id==0){
    		alert('请选择您所在市');
    		return false;
    	}
    	var len = $('#grade').find(".active").length;
    	if(len==0){
    		alert('请先选择年段');
    		return false;
    	}
    	var description = $('#description').val();
    	$.getJSON(
    		'/member/ajaxEditInfo',
    		{real_name:real_name,school_id:school_id,description:description,province_id:province_id,city_id:city_id},
    		function(data){
    			if(data.status=='ok'){
    				alert('修改成功');
    			}
    		}
    	);
    });
</script>
<!--footer-->
<include file="common:footer" />
