<div class="uleft b_3">
            	<div class="face">
            		<span <empty name="user_info.photo">style="display: none;"</empty>><img src="{$user_info.photo}" width="90" height="90"/></span>
                   <h3>身份：<eq name="user_type" value="1">学生<else />教师</eq></h3>
                    <p><i></i>{$nick_name}</p>
                </div>
            	<ul>
                    <li class="ico01"><a href="./">个人主页</a></li>
                    <li class="ico02"><a href="/member/info">个人信息</a></li>
                    <li class="ico02"><a href="/member/myshijuan">我的试卷</a></li>
                    <!-- <li class="ico03"><a href="">在线测试</a></li>
                    <li class="ico04"><a href="">在线练习</a></li>
                    <li class="ico05"><a href="">学习进度</a></li>
                    <li class="ico06"><a href="">错题集</a></li>
                    <li class="ico07"><a href="">能力评估</a></li> -->
                    <li class="ico08"><a href="/member/mycollect">我的收藏</a></li>
                    <li class="ico08"><a href="/member/onlinetest">在线练习</a></li>
                    <eq name="user_type" value="1"><li class="ico08"><a href="/member/studentceping">在线测评</a></li><else /><li class="ico08"><a href="/member/teacherceping">在线测评</a></li> </eq>
                    <li class="ico08"><a href="/member/mynote">我的错题集</a></li>
                    <!-- <li class="ico09"><a href="">购买</a></li>
                    <li class="ico10"><a href="">我的老师</a></li>
                    <li class="ico11"><a href="">我的作业</a></li> -->
                </ul>
            </div>