<include file="common:_header" />

<!--main-->
<div class="width">
    <div class="reg_form">
		<form id="" name="" method="post" action="/member/login">
			<div class="error" style="margin-left:90px;<empty name="error_msg">display:none;</empty>" id="">{$error_msg}</div>
			<div class="reg_br">
				<div class="reg_l">账号：</div>
				<div class="reg_r">
					<input id="username" type="text" name="username" datatype="*" ajaxurl="/member/ajaxCheckUser" nullmsg="邮箱不能为空！" errormsg="请输入合法的邮箱地址！"/>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="reg_br">
				<div class="reg_l">密码：</div>
				<div class="reg_r"><input id="password" type="password" name="password" datatype="*6-20" nullmsg="密码不能为空！" errormsg="密码请输入6-16个字符"/></div>
				<div class="clear"></div>
			</div>
			<div class="reg_br" style="margin-top:20px;">
				<div class="reg_l">&nbsp;</div>
				<div style="float:left;"><input name="auto_login" value="1" type="checkbox" />下次自动登录</div>
				<div style="float:left;margin-left:70px;"><a href="/member/resetpass">忘记密码</a></div>
				<div class="clear"></div>
			</div>
			<div class="reg_br" style="margin-top:20px;">
				<div class="reg_l">&nbsp;</div>
				<div style="float:left;">
					<span><button id="button" type="submit" class="button_login" style="width:100px;">登录</button></span>
					<span style="margin-left:20px;"><button id="button" onclick="window.location.href='/member/register'" class="button_reg" style="width:100px;">注册</button></span>
				</div>
				<div class="clear"></div>
			</div>
		</form>
	</div>
   
</div>

<script type="text/javascript" src="__PUBLIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<link href="/Public/css/validform.css" rel="stylesheet" type="text/css" />
<script>
	$(
		function(){
   		$("form").Validform(
   			{tiptype:3}
   		);
    });
</script>

<include file="common:footer" />
