<include file="common:_header" />
<link href="/Public/css/user.css" rel="stylesheet" type="text/css" />

<!--main-->
<div class="width">
	<div class="b_top">
    	<!--left-->
        	<include file="Member:left" />
        
        <!--right-->
        <div class="uright">
            
            <div class="jcj ">
            	<!-- <select class="sel"><option>高中语文</option></select> -->
           	
            <div class="clear"></div>
            
            <div class="b_4 mt20">
            	<!--左侧-->
            	<div class="jspan1 left">
                	<ul class="jc_ul">
                    	<li class="jc_tit"><a href="/member/mycollect">全部</a></li>
                    	<!-- <li><a href="/member/mycollect?tagid=0">无标签</a></li> -->
                    	<volist name="my_tags" id="vo">
                        <li><a href="/member/mycollect?tagid={$vo.id}">{$vo.tag_name}</a></li>
                        </volist>
                    </ul>
                
                </div>                
                <!--右侧-->
                <div class="jspan2 left">
                	<ul class="jc_list">
                		<volist name="tiku_data" id="vo">
                    	<li>
                        	<p>{$vo.content|htmlspecialchars_decode}</p>
                            <php>
                    		if($vo['options']){
                    			$options = json_decode($vo['options']);
                    			$options_index = array(0=>'A',1=>'B',2=>'C',3=>'D',4=>'E');
	                    	</php>
	                    	<p>
	                    		<php>
	                    			$k = 0;
	                    			foreach($options as $k=>$val){
	                    		</php>
	                    			<span style="float:left;line-height:18px;font-size:14px;padding-right:30px;" class="em2"><php>echo $options_index[$k]</php>.<php>echo $val</php></span>
	                    		<php>
	                    			}
	                    		</php>
	                    	</p>
	                    	<php>
	                    	}
	                    	</php>
                            <!-- <div class="jcbtn1">分享</div> <div class="jcbtn">纠错</div> -->
                            <div class="jc_list_b">
                                <div class="left mr10">
                                    <!-- <span class="jc_btn">加入试卷</span> -->
                                    <a target="_blank" href="/tiku/detail/{$vo.id}.html"><span class="jc_btn">查看解析</span></a>
                                    <span class="jc_btn">下载试题</span>
                                    
                                </div>
                                
                                <div class="right">
                                	<div class="left mr10">难度:<font class="c_z"><if condition="$vo.difficulty_id eq 1">1.00-0.86<elseif condition="$vo.difficulty_id eq 2"/>0.85-0.71<elseif condition="$vo.difficulty_id eq 3"/> 0.7-0.56 <elseif condition="$vo.difficulty_id eq 4"/>0.55-0.41<elseif condition="$vo.difficulty_id eq 5"/>0.40-0.26</if></font></div>
                                	<!-- <div class="left">评分:</div>
                                    <div class="left"><i class="dis score score3"></i></div> -->
                               </div>
                           </div>
                        </li>
                       </volist>
                        <style>
                        	.current{
                        		background: #f43c5e none repeat scroll 0 0;
							    border: 1px solid #f28700;
							    color: #fff;
							    font-weight: bold;
							    padding: 6px 10px;
                        	}
                        </style>
                        
                	</ul>
					<div class="page">
						{$page_show}
					</div>
                </div>
                
              </div>  
              
            </div>
        </div>
    
    </div>
</div>

<!--footer-->
<div id="footer">
	<div class="footer">
    	<div class="left"><a href="">关于我们</a> 丨 <a href="">隐私保护政策</a>  丨  <a href="">服务条款</a> 丨 <a href="">联系我们</a>   丨  
        <br />
        COPYRIGHT 2015  哈学库  版权所有   www.haxueku.com</div>
        <div class="right"></div>
    </div>
</div>

</body>
</html>
