<include file="common:_header" />
<link href="__PUBLIC__/css/user.css" rel="stylesheet" type="text/css" />
<!--main-->
<div class="width">
	<div class="b_top">
    	<!--left-->
        	<include file="Member:left" />
        
        <!--right-->
        <div class="uright">
            
            <div class="jcj ">
            	<select class="sel" id="course_sel">
                	<volist name="course_data" id="vo">
                	<option <eq name="course_id" value="$vo.id">selected=""</eq> value="{$vo.id}"><eq name="vo.course_type" value="1">高中<else />初中</eq>{$vo.course_name}</option>
                	</volist>
                	</select>
           	
            <div class="clear"></div>
            
            <div class="b_4 mt20">
            	<!--左侧-->
            	<!-- <div class="jspan1 left">
                	<ul class="jc_ul">
                    	<li class="jc_tit">知识点</li>
                        <li><a href="">全部</a></li>
                        <li><a href="">基础知识及语言表达</a></li>
                        <li><a href="">诗歌鉴赏</a></li>
                        <li><a href="">文言文阅读</a></li>
                        <li><a href="">现代文阅读</a></li>
                        <li><a href="">作文及写作</a></li>
                        <li><a href="">名句默写</a></li>
                        <li><a href="">其他</a></li>
                    </ul>
                
                </div>    -->             
                <!--右侧-->
                <div class="jspan2 left">
                	<ul class="jc_list">
                        <volist name="note_data" id="vo">
                    	<li>
                        	<p>{$vo.content|htmlspecialchars_decode}</p>
                            <php>
                    		if($vo['options']){
                    			$options = json_decode($vo['options']);
                    			$options_index = array(0=>'A',1=>'B',2=>'C',3=>'D',4=>'E');
	                    	</php>
	                    	
	                    		<php>
	                    			$k = 0;
	                    			foreach($options as $k=>$val){
	                    		</php>
	                    			<p><php>echo $options_index[$k]</php>.<php>echo $val</php></p>
	                    		<php>
	                    			}
	                    		</php>
	                    	
	                    	<php>
	                    	}
	                    	</php>
                            <!-- <div class="jcbtn1">分享</div> <div class="jcbtn">纠错</div> -->
                            <div class="jcbtn">纠错</div>
                            <p>	<span class="jc_btn">加强训练</span>
                            	<span class="jc_btn">下载试题</span>
                            </p>
                        </li>
                       </volist>
                       
                	</ul>
                	<style>
                        	.current{
                        		background: #f43c5e none repeat scroll 0 0;
							    border: 1px solid #f28700;
							    color: #fff;
							    font-weight: bold;
							    padding: 6px 10px;
                        	}
                        </style>
					<div class="page">
						{$page_show}
					</div>
                </div>
                
              </div>  
              
            </div>
        </div>
    
    </div>
</div>
<script>
	$('#course_sel').change(function() {
		window.location.href = '/member/mynote?id='+$(this).val();
	});
</script>
<!--footer-->
<include file="common:footer" />