<include file="common:header" />
	<!--main-->
	<div id="main" style="margin-top:2px;min-height:800px;">
		<div style="background:#DBF0FF;border-bottom:4px solid #0190F2;">
			<div style="width:1000px;height:68px;">
				<div style="float:left;line-height:68px;color:#4c4c4c;font-size:24px;"><span class="c_blue">个人中心</span></div>
                <!-- <div style="float:right;color:#000;font-size:18px;padding:10px 50px;margin-top:20px;border-top-left-radius:5px;border-top-right-radius:5px;">消息中心<b>→</b></div> -->
			</div>
		</div>

		<div style="width:1000px;margin-top:10px;">
<include file="Member:left" />

            
            <!--右边-->
			<div class="fr" style="float:left;width:806px;height:800px;border:1px solid #D9D9D9;margin-bottom:40px"> 	
				<div style="margin:5px 10px">
					<div class="na1" style="width:760px;">
						<div class="fl na_n">
							个人资料
						</div>
						<div class="fl na_n">
							修改密码
						</div>
						<div class="fl na_n_check">
							密码保护
						</div>
					</div>
					<div class="PersonData" style="width:730px;margin:15px">
						<div class="Rmain" style="border-bottom:1px dashed #B3B3B3;">
							<div class="prleft_c"></div>
							<div class="prright">
								<div style="display:inline;width:420px;height:40px;">
									<div style="float:left;"><h3 style="font-size:18px">手机</h3></div>
									<div style="display:inherit;float:left;margin-top:5px">
										<span style="margin-left:20px;color: #4c4c4c;">30分悬赏</span>
									</div>
								</div>
								<div class="ulList" style="color: #4c4c4c;"> 
									<ul>
										<li>·&nbsp;您可以使用该手机号作为账号登入哈学库，如资讯、题库、课程等</li>
										<li>·&nbsp;请勿随意泄露手机号，以防被不法分子使用，骗取账号信息</li>
									</ul>
								</div>    
							</div>
							<div class="pwbtn" >立即绑定</div>
						</div>
						<div class="Rmain" style="border-bottom:1px dashed #B3B3B3;">
							<div class="prleft1"></div>
							<div class="prright">
								<div style="display:inline;width:420px;height:40px;">
									<div style="float:left;" ><h3 style="font-size:18px">邮箱</h3></div>
									<div style="display:inherit;float:left;margin-top:5px"><span style="margin-left:20px;color: #4c4c4c;">30分悬赏</span></div>
								</div>
								<div class="ulList" style="color: #4c4c4c;"> 
									<ul>
										<li>·&nbsp;您可以使用该邮箱作为账号登入哈学库，如资讯、题库、课程等</li>
										<li>·&nbsp;请勿随意泄露邮箱，以防被不法分子使用，骗取账号信息</li>
									</ul>
								</div>    
							</div>
							<div class="pwbtn" >修改</div>
						</div>
						<div class="clear"></div>
					</div>
                </div>                 
			</div>					
		</div>		
	</div>
    <!--footer-->
<include file="common:footer" />