<include file="common:header" />
	<!--main-->
	<div id="main"style="margin-top:2px;min-height:500px;">
		<div style="background:#DBF0FF;border-bottom:4px solid #0190F2;">
			<div style="width:1000px;height:68px;">
				<div style="float:left;line-height:68px;color:#4c4c4c;font-size:24px;"><span class="c_blue">个人中心</span></div>
                <!-- <div style="float:right;color:#000;font-size:18px;padding:10px 50px;margin-top:20px;border-top-left-radius:5px;border-top-right-radius:5px;">消息中心<b>→</b></div> -->
			</div>
		</div>

		<div style="width:1000px;margin-top:10px;">
			<include file="Member:left" />

            
            <!--右边-->
			<div class="fr" style="float:left;width:806px;height:800px;border:1px solid #D9D9D9;margin-bottom:40px"> 	
				<div style="margin:5px 10px">
 
                <div class="na1">
                    <div class="fl na_n">
                        个人资料
                    </div>
                    <div class="fl na_n_check">
                        修改密码
                    </div>
                    <!-- <div class="fl na_n">
                        密码保护
                    </div> -->
               	 </div>
                <div class="PersonData" style="width:780;margin:15px 25px" >
          		
                <div class="Rmain">
					 <div class="uprleft" style="color: #4c4c4c;">
						 <p>1.为保证您的安全，新密码必须与旧密码不同。</p>
						 <p>2.密码由6-16位字符（字母、数字、符号）组合而成。</p>
					 </div>
                </div>
                 
                 
                <div class="Rmain">
					<div class="rleft">
						<span>原密码：</span>
					</div>
					<div class="rright">
						<input type="password"  placeholder="请输入您的原密码"  ajaxurl="/member/ajaxCheckPassword" id="password"  datatype="*6-20" nullmsg="密码不能为空！" errormsg="密码请输入6-20个字符" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的原密码'" style="width:280px;height:40px;padding-left: 10px;"/>
					</div>
                </div>
                 
                  <div class="Rmain">
                  <div class="rleft">
                 <span>新密码：</span>
                 </div>
                 <div class="rright">
                 <div style="display:inline">
                 <div style="float:left">
                 <input type="password" name="new_password" type="password" id="newPassword"  datatype="*6-20" nullmsg="密码不能为空！" errormsg="密码请输入6-20个字符"  placeholder="请输入您的新密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的新密码'" style="width:280px;height:40px;padding-left: 10px;"/>
                 </div>
                 <!-- <div style="display:inherit;float:left">
                 <div class="weight">弱</div>
                 <div class="weight1">中</div>
                 <div class="weight1">强</div>
                 </div> -->
                 </div>
                 </div>
                 </div>
                 
                  <div class="Rmain">
                  <div class="rleft">
                 <span>确认新密码：</span>
                 </div>
                 <div class="rright">
                 <input type="password" recheck="new_password" name="check_new_password" type="password" id="check_new_password" datatype="*6-20" nullmsg="密码不能为空！"  placeholder="请再次输入的新密码" onfocus="this.placeholder=''" onblur="this.placeholder='请再次输入您的新密码'" style="width:280px;height:40px;padding-left: 10px;"/>
                 </div>
                 </div>
                 
             
                <div class="Rmain">
				    <div class="rleft">
					</div>
                <div class="rright"> 
                  	<div class="commite_btn">提交</div>
                </div> 
                </div> 
                </div>
                </div>                 
			</div>					
		</div>		
	</div>
	<script type="text/javascript" src="__PUBLIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<link href="/Public/css/validform.css" rel="stylesheet" type="text/css" />
<script>
	$(
		function(){
   		$(".PersonData").Validform(
   			{tiptype:3}
   		);
    });
    $('.commite_btn').click(function(){
		$.getJSON(
			'/member/ajaxResetPassword',
			{password:$('#password').val(),new_password:$('#newPassword').val(),check_new_password:$('#check_new_password').val()},
			function(data){
				if(data.status=='success'){
					alert('密码修改成功！');
				}else{
					alert(data.info);
				}
			}
		);
	});
</script>
    <!--footer-->
<include file="common:footer" />