<include file="common:header" />
<div class="width">
	<div class="tk_bg_mm">
		<div class="tit">
		    <div class="right"><a href="">首页</a> >><a href="">找回密码</a></div>
		</div>
	</div>
</div>	
<div class="width">
	<div class="findPwd">
		<div>
			<p style="margin:90px auto 40px;font-family:微软雅黑;text-align:center;font-size:14px;">
				请选择找回密码的方式
			</p>
			<div style="width:600px;height:68px;margin:40px auto 20px;padding-left:128px;">
				<a class="resetpass" href="/member/resetpassemail" style="color:#fff;">用邮箱找回密码</a>
				<a class="resetpass" href="/member/resetpassphone" style="background:#f43c5e;color:#fff;">用手机号找回密码</a>
			</div>
		</div>
	</div>
</div>	
<!--footer-->
<include file="common:footer" />
