<include file="common:header" />
<div class="zh_main">
		<div>
			<div class="stu_nav" style="width:900px;">
				<div class="left m_nav blue_back">验证手机号</div>
				<div class="left m_nav nav_left">重置登录密码</div>
				<div class="left m_nav">找回成功</div>
			</div>
		</div>
		<div style="font-size:20px;margin-top:40px;text-align:center;color:#1a1a1a;">
			请输入你绑定的手机号
		</div>
		<div style="margin-left:120px;">
			<div class="form_list" style="margin-top:30px;">
				<div class="l_list">
					<div class="left f_left">
						<div class="right"><span>验证码：</span></div>
					</div>
					<div class="left f_right" style="width:180px;">
						<input name="" type="text" style="width:128px;" placeholder="请输入图片验证码"/>
					</div>
					<div class="left" style="margin-right:10px;"><img src="./images/code_img.jpg" style="width:150px;height:50px;"></div>
					<div class="left right_img" style="display:none;"></div>
				</div>
				<div class="l_list">
					<div class="left f_left">
						<div class="right"><span>手机号：</span></div>
					</div>
					<div class="left f_right"><input name="" type="text" placeholder="请输入手机号"/></div>
				</div>
				<div class="l_list" style="height:53px;">
					<div class="left f_left">
						<div class="right"><span>手机激活码：</span></div>
					</div>
					<div class="left f_right" style="width:180px;">
						<input name="" type="text" style="width:128px;" placeholder="请输入激活码"/>
					</div>
					<div class="left n_code" id="">获取短信激活码</div>
				</div>
				
				<div>
					<div class="left btn_sub">
						继续
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="__PUBLIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<link href="/Public/css/validform.css" rel="stylesheet" type="text/css" />
<script>
	$(
		function(){
   		$("form").Validform(
   			{tiptype:3}
   		);
    });
</script>	
<!--footer-->
<include file="common:footer" />
