<include file="common:header" />
<div class="width">
	<div class="tk_bg_mm">
		<div class="tit">
		    <div class="right"><a href="">首页</a> >><a href="">找回密码</a></div>
		</div>
	</div>
</div>	
<div class="width">
	<div class="findPwd">
		<div>
			<div style="width:680px;height:68px;margin:40px auto 20px;padding-left:67px;">
				<div class="resetpass_a">
					发送重置密码邮件
				</div>
				<div class="resetpass_a">
					重置登录密码
				</div>
				<div class="resetpass_a" style="width:186px;padding-right:0;background:#1887e3;color:#fff;">
					找回成功
				</div>
			</div>
		</div>
		<div style="line-height:30px;width:300px;margin:0 auto;text-align:center;display:block;clear:both;font-size:16px;font-family:微软雅黑;padding-left:33px">
			<div class="succeed" ></div><div style="float:left;margin-left:20px;">密码已找回，哈学库欢迎回来！</div>
			<div><a class="btn btn2" href="/member/" style="padding:10px 20px;margin:80px;background:#ff730c;" >个人首页</a></div>
		</div>
	</div>
</div>	

<!--footer-->
<include file="common:footer" />
