<include file="Member:header" />
<div class="zh_main">
		<div>
			<div class="stu_nav" style="width:900px;">
				<div class="left m_nav blue_back">验证手机号</div>
				<div class="left m_nav blue_back">重置登录密码</div>
				<div class="left m_nav blue_back">找回成功</div>
			</div>
		</div>
		<div class="lv_right" style="font-size:20px;margin-top:70px;text-align:center;color:#1a1a1a;">
			密码已找回，哈学库欢迎您回来！
		</div>
		<div style="margin-left:120px;">
			<div class="form_list" style="margin-top:30px;">
				<a href="/member/"><div class="left btn_sub" style="width:205px;margin-left:240px;">
					个人中心
				</div></a>
			</div>
		</div>
	</div>

<!--footer-->
<include file="common:footer" />
