<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^tiku/(\w+)\/$ index.php/home/tiku/index/param/$1/
  RewriteRule ^tiku/(\w*)$ index.php/home/tiku/$1/
  RewriteRule ^tiku/detail/(\d+).html$ index.php/home/tiku/detail/id/$1/
  RewriteRule ^member/(\w*)$ index.php/home/member/$1/
  RewriteRule ^shijuan/(\w*)$ index.php/home/shijuan/$1/
  RewriteRule ^hand/(\w*)$ index.php/home/hand/$1/
  RewriteRule ^smart/(\w*)$ index.php/home/smart/$1/
  RewriteRule ^jingpin/(\w+)\/$ index.php/home/jingpin/index/param/$1/
  RewriteRule ^jingpin/$ index.php/home/jingpin/
  RewriteRule ^jingpin/detail/(\d+).html$ index.php/home/jingpin/detail/id/$1/
  RewriteRule ^tongbu/(\w+)\/$ index.php/home/tongbu/index/param/$1/
  RewriteRule ^tongbu/$ index.php/home/tongbu/
  RewriteRule ^ceping/(\w*)$ index.php/home/ceping/$1/
  RewriteRule ^onlinetest/(\w*)$ index.php/home/onlinetest/$1/
  RewriteRule ^qqconnect/(\w*)$ index.php/home/qqconnect/$1/
  RewriteRule ^sinaconnect/(\w*)$ index.php/home/sinaconnect/$1/
  RewriteRule ^weixinconnect/(\w*)$ index.php/home/weixinconnect/$1/
</IfModule>