@charset "utf-8";
body{background: no-repeat top center #EFEFEF;font-family:Microsoft yahei;}
body,form,input,textarea{margin:0;padding:0;font-size:14px;font-family:Microsoft yahei;}
.title_info{border:1px solid #D4D5D5;width:1000px;height:115px;float:left;background:#FFF}
#pui_title{text-align:center;border-bottom:1px dashed #D4D5D5;height:65px;line-height:65px;}
#pui_maintitle{font-size:25px;font-weight:bold;}
.b_z{text-align:center;height:50px;line-height:50px;font-size:15px;font-weight:600}
#select_part{height: 45px;}
#select_part .part_back{line-height:40px;width:15px;height:45px;float:left;display:inline;margin-left:10px;font-size:18px;font-weight:600;cursor:pointer;margin-right:0px}
#select_part .part_back1{line-height:40px;width:15px;height:45px;float:left;display:inline;margin-left:10px;font-size:18px;font-weight:600;cursor:pointer;margin-right:0px}
#select_part ul li a{height:45px;line-height:40px;width:auto;float:left;display:inline;margin-left:18px;font-size:16px;font-weight:600;color:#000;	padding: 1px 1px 0;}
#select_part .all_part a{line-height:40px;height:45px;width:150px;float:right;display:inline;font-size:16px;font-weight:600;background:#FF9118;text-align:center;color:#fff}
#select_part .part a:hover,#select_part .part_1 a:hover{text-decoration:underline;color:#FF9118}
.ont_part{width:1000px;height:auto;float:left;margin-top:10px;background:#FFF;border:1px solid #D4D5D5;border-bottom:0px;}
.big-test:hover{border:1px solid #FF941F;margin-left:-1px;margin-top:-1px;margin-bottom:-1px}
.error_check{background:url(../images/error_check.png) no-repeat right top ;width:45px;height:45px;display:none;position:absolute;float:right;margin-left:955px;}
.big-test:hover .error_check {display:block}
.op_title{width:1000px;height:40px;line-height:40px;float:left;border-bottom:1px solid #D4D5D5;}
.op_title span{margin-left:20px;font-size:16px;font-weight:600}
.quest_p{font-size:10.5pt; line-height:150%; margin:0pt; orphans:0; text-align:justify; widows:0}
.quest_span{font-family:宋体; font-size:10.5pt;}
.sc1_btn{
	float:left;
	margin:7px 10px;
	border-radius:3px;
	padding:5px 12px;
	padding-left:40px;
	border:1px solid #1194F3;
	background:url(../images/collect_1.png) no-repeat 10px center;}

.rightList{width:210px;height:255px;float:right;border:1px solid #D9D9D9;margin-left:0px;}
.rightLeft{width:45px;height:255px;overflow:hidden;float:left;display:inline;background:#0190F2;margin-left:0px;}
.myexam{width:25px;height:45px;}
.myexam span{font-size:20px;color:#FFF;line-height:25px;}
.box{background:#0190F2; width:50px; height:50px; margin:0px -2px; -webkit-border-radius:25px;-moz-border-radius:25px; -o-border-radius:25px; border-radius:25px;position:absolute;cursor:pointer;font-size:20px;text-align:center;line-height:50px;color:#fff;behavior:url(..\css\ie-css3.htc);z-index:2}
.box:hover{background:#0190F2; width:58px; height:58px; margin:0px -6px; -webkit-border-radius:29px;-moz-border-radius:29px; -o-border-radius:29px; border-radius:29px;position:absolute;cursor:pointer;font-size:25px;text-align:center;line-height:58px;color:#fff; }
.exam_num{width:45px;height:25px;text-align:center}
.exam_num{font-size:15px;color:#FFF;line-height:45px;}
.rightRight{width:165px;height:255px;background:url(../images/juan_pe.png);float:right;}
.clearlist{text-align:center;margin-top:5px;}
.clearlist span{line-height:30px;color:#09F;font-size:15px;cursor:pointer;}
.ul_list ul li{margin-left:5px;line-height:30px}
#btn_exam{width:120px;margin-left:18px;height:35px;text-align:center;line-height:35px;background:#0190F2;cursor:pointer;font-size:15px;color:#fff;margin-top:5px}
.scroll{
		width:30px;
		height:65px;
		background:url(../images/back-top.png) no-repeat top center;
		color:#fff;
		text-align:center;
		position:fixed;
		margin-left:0px;
		bottom:80px;
		cursor:pointer;
		margin-top:800px;
		right: 25%;
		
	}
.back-top{background:url(../images/back-top.png);width:30px;height:65px;repeat:no repeat;cursor:pointer}
.que_title{height:40px;line-height:40px}
.que_title span{font-size:16px;font-weight:600}
.content p{text-indent:20px;font-size:10.5pt;line-height:150%;}
.analys{width:auto;height:30px;float:left;margin-left:25px;font-family:宋体; font-size:10.5pt;line-height:200%;color:#1D99F4; orphans:0; text-align:justify; widows:0;cursor:pointer;}

.zan{height:40px;line-height:40px;margin-left:20px;margin-top:0px;cursor:pointer;}
.oparate{width:1000px;height:40px;float:left;margin-top:0px;background:#FFF;border-top:1px solid #D4D5D5;border-bottom:1px solid #D4D5D5;}
.hot{height:40px;line-height:40px;float:left;margin-left:0px;margin-top:0px;}
.add_exam{width:100px;height:40px;line-height:40px;float:right;margin-top:0px;background:#FF9118;text-align:center;cursor:pointer;font-size:15px;color:#FFF;}
.delete_exam{width:100px;height:40px;line-height:40px;float:right;margin-top:0px;background:#1194F3;;text-align:center;cursor:pointer;font-size:15px;color:#FFF;}

.sc1_btn{width:30px;height:18px;line-height:20px;float:right;margin-left:0px;margin-top:5px;cursor:pointer;font-size:13px;color:#09F}
.sc1_btn:hover{background:url(../images/collect.png) no-repeat 10px center}
.down_btn{width:30px;height:20px;line-height:20px;float:right;margin-left:0px;margin-top:5px;cursor:pointer;font-size:13px;color:#09F}
.down_btn:hover{background:url(../images/download_check.png) no-repeat 10px center #1194F3;color:#fff}
.space{width:810px;height:30px;float:left;margin-top:10px;margin-bottom:30px}
.btna{float:left;border-top:1px solid #D4D5D5;height:30px;width:80px;background:#0190F2;text-align:center;line-height:30px;margin-left:300px;color:#fff;cursor:pointer;}
.btnb{float:left;border-top:1px solid #DADADA;height:30px;width:80px;background:#FFF;text-align:center;line-height:30px;margin-left:40px;cursor:pointer;}
.btnb:hover{background:#0190F2;color:#fff}


.hidde-div{display:none;width:1000px;float:left;margin-left:0px;margin-top:0px;background:#EFEFEF;}
.poptip{position: relative;padding: 6px 10px 5px;*padding: 7px 10px 4px;line-height: 16px;color: #000;font-size: 12px;background-color:#DBF0FF;border: solid 1px #91CFFB;border-radius: 2px;box-shadow: 0 0 3px #ddd;width:940px;line-height:20px;height:auto;float:left;margin-left:20px;margin-top:10px;margin-left:20px;margin-bottom:10px}
.poptip-arrow{position: absolute;overflow: hidden;font-style: normal;font-family: simsun;font-size: 12px;text-shadow:0 0 2px #ccc;}
.poptip-arrow em,.poptip-arrow i{position: absolute;left:0;top:0;font-style: normal;}
.poptip-arrow em{color: #91CFFB;}
.poptip-arrow i{color: #DBF0FF;;text-shadow:none;}
.poptip-arrow-top{height: 30px;width: 40px;left:12px;margin-left:5px;}
.poptip-arrow-top{top: -10px;}
.poptip-arrow-top em{top: -1px;}
.poptip-arrow-top i{top: 0px;}


.fixed{ position: fixed; width: 100%; top:-10px;z-index:200}
.fixed .title_info{ display: none; }
.b_test{
	width:980px;
	height:auto;
	float:left;
	margin-top:20px;
	border:1px solid #CCCCCC;
}
.b_test:hover{
	border:1px solid #FF941F;
}
.right_sj{
	background:url(../images/right_sj.png) 1px 10px no-repeat;
	width:100px;
	height:30px;
	line-height:30px;
	padding-left:9px;
}
.jx_style1{
	border-bottom:3px solid #0190F2;
	width:88px;
	text-align:center;
	margin-bottom:-1px;
	padding-bottom:4px;
	color:#0190F2;
	font-size:16px;
}
.jx_tag{
	width:80px;
	height:33px;
	line-height:33px;
	text-align:center;	
	color:#fff;
	border-radius:5px;
	margin:5px;
	float:left;
}
.jx_zq{
	height:35px;
	line-height:35px;
	padding-left:30px;
	background:url(../images/zhengque.png) 5px center no-repeat;
}
.jx_cw{
	height:35px;
	line-height:35px;
	padding-left:30px;
	background:url(../images/cuowu.png) 5px center no-repeat;
}
.js_wpg{
	height:35px;
	line-height:35px;
	padding-left:30px;
	background:url(../images/wcl.png) 5px center no-repeat;	
}
.jx_fs{	
	line-height:35px;
	margin-left:20px;
}
.jx_fs span{
	color:#FF8100;
}
.jx_zzt{
	border:1px solid #CCCCCC;
	height:38px;
	border-radius:5px;
	margin-top:10px;	
}
.jx_zzt_l{
	width:155px;
	height:38px;
	background:#EF4349;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	text-align:center;
	line-height:38px;
	color:#fff;
	font-size:16px;
	float:left;
}
.jx_zzt_l_c{
	width:155px;
	height:38px;
	background:#2DB920;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	text-align:center;
	line-height:38px;
	color:#fff;
	font-size:16px;
	float:left;
}
.jx_zzt_c{
	width:600px;
	margin:12px 30px;
	height:14px;
	line-height:30px;
	float:left;
}
.jx_zzt_bfb{
	background:#FF8100;
	border-radius:50px;
	height:14px;
}
.jx_zzt_text{
	float:right;
	margin-right:-110px;
	line-height:14px;
}
.jx_fx{
	width:100%;
	height:25px;
	line-height:25px;
	margin-top:15px;
}
.jx_fx_l{
	width:50px;
	float:left;
	height:25px;
	line-height:25px;
}
.jx_fx_c{
	width:680px;
	float:left;
	border:1px solid #CCCCCC;
	height:25px;
	border-radius:5px;
}
.jx_fx_bfb{
	background:#FF8100;
	height:25px;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.jx_fx_r{
	margin-left:20px;
	float:left;
}


.nd_tag{
	width:18px;
	height:18px;
	margin-left:20px;
	margin-top:2px;
}
.bg_lv{
	background:#2DB920;
}
.bg_lan{
	background:#0190F2;
}
.bg_cheng{
	background:#FF8100;
}
.bg_hong{
	background:#EF4349;
}
.bg_hui{
	background:#999999;
}

.jx_stjx{
	width:110px;
	border-left:1px solid #CCCCCC;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#ff8100;	
}
.jx_l_t{
	background:url(../images/jx_l_t.png) no-repeat 62px center;
	height:18px;
	width:80px;
}
.jx_l_c{
	background:url(../images/jx_l_c.png) no-repeat 65px center;
	height:31px;
	line-height:31px;
	width:80px;
	font-size:12px;
	color:#0190f2;
	padding-left:10px;
}
.jx_l_c:hover{
	background:url(../images/jx_l_check.png) no-repeat 50px center;	
}
.jx_l_check{
	background:url(../images/jx_l_check.png) no-repeat 50px center;
	height:31px;
	line-height:31px;
	width:80px;
	font-size:12px;
	color:#0190f2;
	padding-left:10px;
}
.jx_n{
	width:125px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#E3E3E3;
	float:left;
	margin:5px;
}
.jx_n span{
	color:#EF464C;
}
.ja_style span{
	color:#ff8100;
	font-size:18px;
}
.ja_sty1{
	padding:20px 10px;
}
.ja_sty1 span{
	color:#ff8100;
	font-size:18px;
}
.ja_teshuli{
	border: 1px solid #fff;
    border-radius: 3px;
    position: relative;
}
.ja_teshuli:hover .xf_jiucuo{
	color:#fff;
	display: block;
}




