*{margin:0; padding:0; list-style:none; margin:0px auto;}
body{background:#fff;font-family:Microsoft yahei;}
body,form,input,textarea{margin:0;padding:0;font-size:14px;font-family:Microsoft yahei;}
input{vertical-align:middle;outline:none;}
textarea{vertical-align:top;outline:none;resize:none;}
img,button,div{border:0;outline:none;}
a{color:#666;text-decoration:none;outline:none;}
p {
    line-height: 24px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
	margin-left:0px;
}
.clear{clear:both;}
.fl{float:left;}
.fr{float:right;}
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mr10{margin-right:10px;}
.p10{padding:10px;}
.bg_fff{background:#fff;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.text_c{text-align:center;}
.c_1a{color:#1a1a1a;}
.c_cc{color:#cccccc;}
.c_blue{color:#0190f2;}
.c_cheng{color:#ff9118;}
.font_b{font-weight:bold;}
.cp{cursor:pointer;}

#top{
	background:#F0F0F0;
	border-bottom:1px solid #CCCCCC;
	height:40px;
	line-height:40px;
}
.top_b{
	background:url(../images/ico_xjt.png) no-repeat;
	background-position: 0 center;
	width:90px;
	height:40px;
	padding-left:15px;
}
.top_c{
	background:url(../images/top_b.png) no-repeat;
	background-position: center center;
	height:7px;
	width:104px;
	margin-top:3px;
}

.r_bg{
	background:url(../images/r_bg.png) no-repeat;
	background-position:center center;
	width:16px;
	height:35px;
	text-align:center;
	font-size:12px;
	color:#fff;
}

.top_a{
	cursor: pointer;
}
.top_a:hover .top_gr{
	display: block;
}
.top_gr{
	position: absolute;
	width:104px;
	display:none;
}
.top_nav{
	border:1px solid #D9D9D9;
	border-top:2px solid #0190F2;
	background:#fff;
}
.top_user_li{
	padding:0px 5px;
	border-bottom:1px dashed #D9D9D9;
	margin-bottom:-1px;
	cursor: pointer;
	height:35px;
	line-height:35px;
}
.logo{width:256px;height:90px;background:url(../images/logo.png) no-repeat;background-size:90% 90%;margin-top:20px;}
.site_home{
	border-right:1px solid #CCC;
	height:16px;
	line-height:16px;
	margin:12px 0px;
	padding:0px 5px;
	cursor: pointer;
}
.collect{
	background:url(../images/xing.png) 10px no-repeat;
	border-left:1px solid #FFF;
	border-right:1px solid #CCC;
	height:20px;
	height:16px;
	line-height:16px;
	margin:12px 0px;
	padding:0px 10px;
	padding-left:30px;
	cursor: pointer;
}
.top_right{
	border-left:1px solid #FFF;
	height:20px;
	height:16px;
	line-height:16px;
	margin:12px 0px;
	padding:0px 10px;
}
.weibo{
	background:url(../images/weibo.png) no-repeat;
	width:19px;
	height:16px;
	display:block;
	float:left;
}
.weixin{
	background:url(../images/weixin.png) no-repeat;
	width:21px;
	height:17px;
	display:block;
	float:left;
	margin-left:10px;
}
.logo_sea{
	width:1000px;
	height:127px;
	line-height:127px;
}
.search{
	border:2px solid #0190f2;
	height:48px;
	width:580px;
	margin-top:40px;
	border-radius:3px;
}
.sea_left{
	position: relative;
}
.sea_left em a{
	font-style: normal;
	display: block;
	background:#f4f4f4 url(../images/sel_img.png) 60px 21px no-repeat;
	width:76px;
	height:48px;
	line-height:48px;
	padding-left:20px;
}
.sea_left ul{
	display: none;
	border: 1px solid #ccc;
	position: absolute;
	background: #fff;
	width: 100%;
}
.sea_left.cur ul{
	display: block;
}
.sea_left ul li a{
	display: block;
	line-height: 36px;
	color:#333;
	text-align: center;
}
.sea_left ul li a:hover{
	background: #eee;
}
.search input{
	border:0px;
	width:344px;
	height:28px;
	padding:10px;
}
.sea_right{
	background:#0190F2;
	width:120px;
	height:48px;
	line-height:48px;
	color:#fff;
}
.nav_l{
	width:110px;
	margin:0px 15px;
	line-height:48px;
	height:48px;
	font-size:20px;
	color:#fff;
	float:left;
	cursor:pointer;
	text-align:center;
}
.nav_l:hover{
	background:#0190F2;
}
.nav_check{
	width:110px;
	margin:0px 15px;
	line-height:48px;
	height:48px;
	font-size:20px;
	color:#fff;
	float:left;
	cursor:pointer;
	text-align:center;
	background:#0190F2;
}
.na{
	border-bottom:2px solid #CCCCCC;
	height:45px;
	width:1000px;
	margin-top:15px;
}
.na_n{
	border:2px solid #D2D2D2;
	margin-left:10px;
	line-height:43px;
	padding:0px 20px;
	cursor:pointer;
}
.na_n:hover{
	border-top:2px solid #0190F2;
	border-bottom:2px solid #fff;
	color:#0190F2;
}
.na_n_check{
	border:2px solid #D2D2D2;
	border-top:2px solid #0190F2;
	border-bottom:2px solid #fff;
	margin-left:10px;
	line-height:43px;
	padding:0px 20px;
	color:#0190F2;
}
.tk_left{width:213px;overflow:hidden;float:left;display:inline;border:1px solid #D9D9D9;}
.tt_left{border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;width: 213px;max-height:450px;overflow:auto;} 
.tk_left h3{background:#0190F2;text-align:center;width:213px;height:40px;line-height:40px;font-size:16px;color:#fff;}
.tk_left .zsd_ul{padding:0;margin:0;list-style:none;}
.tk_left .zsd_ul li{line-height:30px;overflow:hidden;clear:both;}
.zsd_ul span:hover,.zsd_ul span.active{
	color:#0190F2;
}

.tt_left span{display:block;float:left;line-height:34px;}
.ce_jia{background:url(../images/jia.png) no-repeat;width:14px;height:14px;margin:10px;display:block;float:left;}
.ce_jian{background:url(../images/jian.png) no-repeat;width:14px;height:14px;margin:10px;display:block;float:left;}
.er_li{
	cursor: pointer;
	padding-left:45px;
	margin:0px 10px;
	background:url(../images/dian.png) 30px 15px no-repeat;
	}
/* .er_li:hover,.er_li.active{
	background:#FF9118;
	background:#FF9118 url(../images/list_check.png) 25px 9px no-repeat;
	color:#fff;
} */
/* .er_li_check{
	margin:0px 10px;
	padding-left:40px;
	background:#FF9118 url(../images/list_check.png) 25px 9px no-repeat;
	color:#fff;
} */
.er_li:hover,.er_li.active{
	color:#0190F2;
} 
.er_li_check{
	color:#0190F2;
} 

.e_li{
	margin-left:20px;
}
.e_li span:hover,.e_li span.active{
	color:#0190F2;
}
.er,.thr{display:none;}
.er ol { padding-left:15px;  border-top:none;}
.er a{color: #3f3f3f;text-decoration: none;}
.er .no {display:none;}
.er ol a{display: block;line-height: 2em;margin-left: 25px;}
.main table{
	width: 100%;
	border: solid 1px #F0F0F0;
	margin-bottom: 20px;
}
.main table tr:hover{
	background: #9ED4E3;
}
.main table tr.table_title th{
	background: #0190F2!important;
	color: #FFFFFF;
}
.main table tr.table_title:hover{
	background: #0190F2;
}
.main table tr{
}
.main table td,.main table th{
	padding: 13px;
	line-height: 20px;
	border: solid 1px #F0F0F0;
	background: #FFFFFF;
}
.main table td input[type=number]{
	width: 60px;
	padding-left: 10px;
}
.main table tr td:first-child{
	  /*padding-right: 100px;*/
}
.main table tr td:first-child span{
	display: inline-block;
	float: right;
	width: 20px;
	height: 20px;
	background: #FFFFFF url(../images/f_tx.png) no-repeat center center;
	cursor: pointer;
	text-indent: 9999px;
}
.main table tr.table_title td:first-child{
	  background: none;
}
.f_tbtn{
	text-align: right;
}
.f_tbtn a{
	display: inline-block;
	width:82px;
	height:32px;
	line-height:32px;
	text-align:center;
	font-size: 16px;
	color: #FFFFFF;
	background: #FFA91B;
	border-radius: 2px;
	cursor: pointer;
}
.f_tips{
	padding-bottom: 50px;
	text-align: center;
}
.f_tips span{
	display: inline-block;
	font-size: 14px;
	border:1px solid #CCCCCC;
	border-radius:5px;
    background: #fff url(../images/f_light.png) no-repeat 10px center;
    padding: 13px 30px 13px 50px;
}
/*仿input[number]*/
.main table td p{
	position: relative;
	width: 100px;
	height: 25px;
	line-height: 25px;
}
.main table td input[type=text] {
	width: 40px;
	padding-left: 10px;
	height: 25px;
	padding: 0 5px;
	line-height: 25px;
	margin-right: 10px;
}
.gray{
	background: #E8E8E8!important;
}
.main table td b{
	display: inline-block;
	height: 25px;
	width: 20px;
	background: #f8f8f8;
	position: absolute;
	right: 49px;
	top: 1px;
}
.main table td b i,.main table td b em {
	display: inline-block;
	height: 12px;
	width: 20px;
	position: absolute;
	left: 0;
	right: 0;
}
.main table td b i{
	border-bottom: solid 1px #EEEEEE;
	background: #f8f8f8 url(../images/up.png) center center no-repeat;
	top: 0;
}
.main table td b em {
	background: #f8f8f8 url(../images/down.png) center center no-repeat;
	bottom: 0;
}
.main table td b i:hover {
	background: #EEEEEE url(../images/up.png) center center no-repeat;
}
.main table td b em:hover {
	background: #EEEEEE url(../images/down.png) center center no-repeat;
}
.kedu span{
	display: block;
	position: relative;
	background:url(../images/kedu.png) no-repeat;
	width:20px;
	height:33px;
    top: -12px;
    cursor: pointer;
    border:0;
    outline: 0;
    margin: 0;
}
.kedu span:hover,.kedu.hover span{
	background:url(../images/keducur.png) no-repeat;
}
.kd_1{
	margin-left:3px;
	width:60px;
	height:30px;
	float:left;
	cursor: pointer;
}
.kd_2{
	margin-left:112px;
	width:60px;
	height:30px;
	float:left;
	cursor: pointer;
	margin-left:
}
.kd_3{
	margin-left:112px;
	width:60px;
	height:30px;
	float:left;
	cursor: pointer;
}
.kd_4{
	margin-left:112px;
	width:60px;
	height:30px;
	float:left;
	cursor: pointer;
}
.kd_5{
	margin-left:112px;
	width:60px;
	height:30px;
	float:left;
	cursor: pointer;
}
.tags_line{
	width:860px;
	line-height:40px;
	height: 44px;
	overflow: hidden;
	float:left;
	min-height: 44px;
}
.xf_jiexida{
	display: none;
}
.tags{
	margin:8px 6px;
	height:23px;
	line-height:23px;
	padding:0px 6px;
	cursor: pointer;
	float:left;
	border-radius:3px;
}
.tags:hover{
	background:#FF9118;
	color:#fff;
}
.tags.active{
	background:#FF9118;
	color:#fff;
}
.tags_check{
	margin:8px;
	height:23px;
	line-height:23px;
	padding:0px 6px;
	background:#FF9118;
	cursor: pointer;
	float:left;
	color:#fff;
	border-radius:3px;
}
.more_tags{
	width:48px;
	float:right;
	line-height:40px;
	cursor: pointer;
	background: url(../images/ico_xjt.png) no-repeat right center;
}
.more_tags.cur{
	background: url(../images/ico_xjtcur.png) no-repeat right center;
}
.tag2{
	margin:7px 10px;
	height:24px;
	line-height:20px;
	padding:0px 6px;
	line-height: 24px;
	cursor: pointer;
	float:left;
	font-size:14px;
	background:#F5F5F5;
}
.tag2 .tag2_ch{
	width:13px;
	height:13px;
	float:right;
	margin:-8px -10px;
	background:url(../images/tag2.png) no-repeat;
	display:none;
}
.tag2:hover,.tag2.active{
	background:#FF9118;
	color:#fff;
}
.tag2:hover .tag2_ch,.tag2.active .tag2_ch{
	display:block;
}
.tag2_check{
	margin:8px 12px;
	height:20px;
	line-height:20px;
	padding:2px 6px;
	cursor: pointer;
	float:left;
	font-size:14px;
	background:#FF9118;
	color:#fff;
}
.tag2_check .tag2_ch{
	width:13px;
	height:13px;
	float:right;
	margin:-8px -10px;
	background:url(../images/tag2.png) no-repeat;
}
.alert{
	display: none;
	position: fixed;
	font-size:16px;
	padding:20px;
	padding-left:60px;
	box-shadow:0px 1px 15px #888;
	background:#fff url(../images/warning.png) 20px 15px no-repeat;
	width:180px;
	height:20px;
	line-height:20px;
	left:50%;
	margin-left: -90px;
	top:50%;
}
.zan{
	cursor: pointer;
	margin:6px 10px;
	padding-left:28px;
	background:url(../images/zan.png) 0px 5px no-repeat;
	float:left;
	line-height:34px;
}
.zan.active{
	background:url(../images/zancur.png) 0px 5px no-repeat;
}
.hot{
	cursor: pointer;
	
	margin:6px 10px;
	padding-left:25px;
	float:left;
	line-height:34px;
	background:url(../images/hot.png) 0px 8px  no-repeat;
}
.down_btn{
	float:left;
	margin:7px 10px;
	border-radius:3px;
	padding:5px 12px;
	padding-left:40px;
	border-radius:3px;
	border:1px solid #1194F3;
	background:url(../images/download.png) no-repeat 10px center;
}
.down_btn:hover,.sc_btn:hover,.jr_btn:hover{
	cursor: pointer;
	opacity: 0.8;
}
.down_btn.active{
	color:#fff;
	background:url(../images/download_check.png) #1194f3 no-repeat 10px center;
}
.sc_btn{
	float:left;
	margin:7px 10px;
	width: 48px;
	line-height: 30px;
	padding-left: 34px;
	border-radius:3px;
	border:1px solid #1194F3;
	background:url(../images/collect_1.png) no-repeat 10px center;
}
.sc_btn.active{
	background:url(../images/collect.png) no-repeat 10px center;
}
.jr_btn{
	float:left;
	width: 105px;
	text-align: center;
	line-height: 48px;
	margin:-1px;
	background:#FF9118;
	color:#fff;
	font-size:16px;
}
.jr_btn.active{
	background: #1194f3;
}
#footer{height:69px;width:100%;min-width:1000px; text-align:center;overflow:hidden;clear:both;background:#4D4D4D;margin-top: 15px;}
.footer{overflow:hidden;margin:20px auto;overflow:hidden;line-height:20px;color:#fff;width:900px;}
.footer .left{text-align:right;width:600px;}
.footer a{color:#fff;}

.xf_fanhuidb{
	position: fixed;
	right: 5%;
	bottom: 3%;
}
.xf_fanhuidb a{
	display: block;
	width: 34px;
	height: 70px;
	background: url(../images/ico_feiji.png) no-repeat;
}
.xf_fanhuidb a:hover{
	opacity: 0.8;
}
.xf_lansea{
	color:#0190f2;
}
.xf_layuanspan{
	color:#ff9118;
}
.xf_teshuli{
	position: relative;
	margin:5px 10px;border:1px solid #D9D9D9;border-radius:3px;
}
.xf_dqxuanzet{
	position: fixed;
	right: 1%;
	top: 35%;
	color:#fff;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	height: 259px;
	width: 58px;
	background: url(../images/xf_yixuantm.png) no-repeat;
}
.xf_dqxuanzet.active{
	width: 229px;
	height: 270px;
	background: url(../images/xf_mysjbg.png) no-repeat;
}
.xf_dqxuanzet.active .xf_showsj{
	display: block;
}
.xf_dqxuanzet *{
	padding: 0;
	margin: 0;
	font-style: normal;
	list-style: none;
}
.xf_dqxuanzet.active .xf_mysjleft{
	text-indent: 0;
}
.xf_mysjleft{
	text-indent: 10px;
	float: left;
	width: 50px;
	position: relative;
	height: 100%;
	cursor:pointer;
}
.xf_mysjleft p{
	line-height: 1.4;
}
.xf_mysjleft p i{
	display: block;
	text-indent: 0px;
}
.xf_dqxuanzet.active .xf_mysjleft p i{
	text-indent: 10px;
}
.xf_mysjleft span{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: 14px;
}
.xf_showsj{
	width: 170px;
	display: none;
	float: left;
	text-align: left;
}
.xf_showsj em i{
	display: block;
	cursor: pointer;
	text-align: center;
	font-size: 15px;
	color:#0190f2;
}
.xf_showsj p i:hover{
	opacity: 0.8;
}
.xf_showsj p{
	color:#333333;
	line-height: 2;
	text-indent: 5px;
	font-size: 16px;
}
.xf_showsj p span{
	color:#ff6969;
}
.xf_scsjbutton{
	position: absolute;
    bottom: 29px;
    right: 31px;
}
.xf_scsjbutton a{
	display: block;
	color:#fff;
	width: 132px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ff9118;
	font-size: 22px;
	margin: 5px auto 0;
	border-radius: 3px;
}
.xf_scsjbutton a.noneac{
	background: #ccc;
	color:#e6e6e6;
}
.xf_showsj p a:hover{
	opacity: 0.8;
}
.xf_bentijx{
	color:#1194f3;
}
.xf_jiucuo{
	position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    width: 34px;
    height: 27px;
    padding-top: 7px;
    color: #fff;
    background: #ff9118;
    border-radius: 0 0 0 50px;
    text-indent: 7px;
    font-size: 12px;
    position: absolute;
}
.xf_teshuli.hover {
	border:1px solid #ff9118;

}
.xf_teshuli.hover .xf_jiucuo{
	color:#fff;
	display: block;
}
.xf_biaotiem{
	font-size: 18px;
	font-weight: bold;
}
.xf_fenyebox{
	padding: 20px 0;
	text-align: center;
}
.xf_fenyebox ul li{
	display: inline-block;
	overflow: hidden;
	margin: 0 12px;
}
.xf_fenyebox ul li a{
	display: block;
	min-height: 36px;
	line-height: 38px;
	min-width:  26px;
	text-align: center;
	padding: 0 10px;
	color:#333;
	border:1px solid #d9d9d9;
}
.xf_fenyebox ul li a:hover,.xf_fenyebox ul li a.cur{
	border: 1px solid #1194f3;
	background: #1194f3;
	color:#fff;
}
.xf_centerbox{
}
.xf_xuanzekm{
	display: inline-block;
	cursor: pointer;
}


.xf_duoququyu{
	width: 680px;
}
/*分页*/
.page{
	font-family:arial;
	padding:18px;
	margin:0 auto;
	text-align:center;
	font-size:12px;
	margin-left:100px;
}
.page a{
	border:1px solid #e1e1e1;
	display:block;
	width:40px;
	height:36px;
	line-height:36px;
	text-align:center;
	float:left;
	margin:0px 10px;
	}
.page span{
	width:40px;
	height:36px;
	margin:0 10px;
	display:block;
	float:left;
	font-size:20px;
}
.page a:hover{
	background:#1194F3;
	border:1px solid #1194F3;
	color:#fff;
	}
.page .check{
	border:1px solid #1194F3;
	background:#1194F3;
	display:block;
	color:#fff;
	font-weight:bold;
	width:40px;
	height:36px;
	line-height:36px;
	text-align:center;
	float:left;
	}
.new_select{
	width:138px;
	position: relative;
}	
.select_div{
	border:1px solid #E0E0E0;
	height:15px;
	line-height:15px;
	width:80px;
	padding:10px;
}
.sel_down{
	background:url(../images/xx_down.png) no-repeat center center;
	border:1px solid #E0E0E0;
	width:35px;
	height:35px;
	margin-left:-1px;
	cursor: pointer;
}	
.sel_list{
	background: #fff none repeat scroll 0 0;
    border:1px solid #ccc;
    display:none;
    position: absolute;
	margin-top:35px;
	line-height:30px;
	width:116px;
	padding:0px 10px;
}