/*用户左侧*/
.uleft{width:220px;overflow:hidden;float:left;display:inline;}
.uleft .face{padding:20px 10px 10px 10px;overflow:hidden;text-align:center;}
.uleft .face img{width:150px;height:150px;}
.uleft .face h3{font-size:18px;line-height:25px;clear:both;overflow:hidden;padding:0;margin:0;}
.uleft .face p{width:140px;background:url(../images/p_i.gif) no-repeat left center;font-size:14px;padding:0;line-height:25px;margin:0 auto;font-weight:bold;}

.uleft ul{margin:0;padding:0;list-style:none;}
.uleft ul li{height:40px;line-height:40px;width:160px;padding-left:60px;background:#eee;border-bottom:1px solid #dcdcdc;font-size:14px;}
.uleft ul .hover{background:#f43c5e;font-size:14px;}
.uleft ul .hover a{color:#fff;}
.uleft ul .ico01{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -306px;}
.uleft ul .ico01_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -0px;}

.uleft ul .ico02{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -345px;}
.uleft ul .ico02_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -38px;}

.uleft ul .ico03{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -384px;}
.uleft ul .ico03_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -77px;}

.uleft ul .ico04{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -426px;}
.uleft ul .ico04_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -119px;}

.uleft ul .ico05{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -466px;}
.uleft ul .ico05_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -159px;}

.uleft ul .ico06{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -506px;}
.uleft ul .ico06_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -199px;}

.uleft ul .ico07{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -544px;}
.uleft ul .ico07_{background:#fff url(../images/user_left_icon.gif) no-repeat 24px -238px;}

.uleft ul .ico08{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -580px;}
.uleft ul .ico08_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -267px;}

.uleft ul .ico09{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -345px;}
.uleft ul .ico09_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -38px;}

.uleft ul .ico10{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -306px;}
.uleft ul .ico10_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -0px;}

.uleft ul .ico11{background:#eee url(../images/user_left_icon.gif) no-repeat 24px -426px;}
.uleft ul .ico11_{background:#f43c5e url(../images/user_left_icon.gif) no-repeat 24px -119px;}

/*用户右侧*/
.uright{width:708px;overflow:hidden;float:left;display:inline;padding:20px;}
.uright h3{border-bottom:1px solid #dcdcdc;font:18px/30px Microsoft yahei;padding-bottom:10px;color:#999;}
.uright h3 span{background:#f43c5e;padding:0 20px;font:14px/30px Microsoft yahie;float:right;color:#fff;}

/*个人信息*/
.page_title{font-size:14px;font-weight:bold;height:40px;line-height:30px;border-bottom:1px dotted #e3e3e3;}
.page_content{overflow:hidden;line-height:25px;min-height:250px;}
.page_content p{margin:10px 0;}

#user{margin:30px auto;padding:0;list-style:none;}
#user li{clear:both;padding:4px 0;margin:0;line-height:35px;font-size:14px;}
#user li span{float:left;width:120px;text-align:right;padding:0 10px 0 0;color:#666;line-height:35px;}
#user .cline{border-bottom:1px solid #dcdcdc;margin:10px 0;}
#user input {width:210px;height:30px;line-height:30px;border:1px solid #e1e1e1;padding:5px 10px;}
#user select {width:210px;height:40px;line-height:40px;border:1px solid #e1e1e1;padding:5px 10px;}
/*纠错集*/
.jcj{padding:10px;overflow:hidden;clear:both;}
.jcj .sel{border:1px solid #d2d2d2;height:35px;font-size:14px;width:200px;line-height:35px;}
.jcj .jspan1{width:149px;border-right:1px solid #d2d2d2;height:500px;margin-right:10px;}
.jcj .jspan2{width:515px;height:1200px;}
.jcj .jc_ul{padding:0;margin:0;list-style:none;text-align:center;}
.jcj .jc_ul .jc_tit{background:#eee;height:40px;line-height:40px;font-size:16px;line-height:40px;}
.jcj .jc_ul li{font-size:14px;line-height:40px;clear:both; text-align:center;}
.jcj .jc_ul li a{color:#1887e3;}

.jc_list{padding:0;margin:0;list-style:none;}
.jc_list li{border:1px solid #dcdcdc;margin-top:10px;clear:both;overflow:hidden;line-height:30px;position:relative;padding:10px 20px;height:180px;}
.jc_list li .jcbtn{color:#fff;line-height:30px; position:absolute;top:10px;right:10px;background:#16d957;width:50px;text-align:center;height:30px;display:block;}
.jc_list li .jcbtn1{color:#fff;line-height:30px; position:absolute;top:10px;right:70px;background:#16d957;width:50px;text-align:center;height:30px;display:block;}
.jc_list li .jc_btn{float:left;width:70px;line-height:30px;text-align:center;color:#fff;background:#1887e3;margin-right:10px;}
.jc_list li .score{margin-top:3px;}
.jc_list li .jc_list_b{clear:both;overflow:hidden;line-height:30px;padding-bottom:10px;}


/*个人主页*/
.zy_tit{font:18px/30px Microsoft yahei;padding-bottom:10px;color:#999;}
.zy_ul{padding:0;list-style:none;margin:0;overflow:hidden;width:690px;}
.zy_ul li{float:left;width:220px;height:150px;margin-right:10px;}
.zy_con{line-height:30px;clear:both;overflow:hidden;padding-bottom:20px;}
.zy_con p{padding:0;margin:0;list-style:none;}
.zy_con p span{width:50%;float:left;display:block;}

/*练习报告*/
.lxbg_btn{background:#eb6100;width:140px;height:40px;font-size:24px;line-height:40px;clear:both;overflow:hidden;text-align:center;color:#fff;margin:0 auto;}
.lxbg1{overflow:hidden;clear:both;}
.lxbg1 .cc_1{width:100px;margin:0 20px 20px 0; }
.lxbg1 .cc_1 .btn1{color:#fff;padding:0 0 0 10px;background:#f43c5e;width:90px;height:60px;display:block; border-radius:20px;margin-bottom:20px;text-align:center;}
.lxbg1 .cc_1 .wz_x{font-size:15px;}
.lxbg1 .cc_1 .wz_d{font-size:26px;line-height:60px;text-align:center;width:60px;}
.lxbg1 .cc_1 .btn2{color:#fff;padding:0 0 0 10px;background:#18e35b;width:90px;height:60px;display:block; border-radius:20px;}
.lxbg1 .cc_2{width:564px;}

.cc_2_ul{padding:0;margin:0;list-style:none;}
.cc_2_ul .li1{background:#eee;line-height:30px;height:30px;border-bottom:1px solid #dcdcdc;font-weight:bold;}
.cc_2_ul .li1 i{float:left;width:40px;background:url(../images/ul.gif) no-repeat center;display:block;height:30px;}
.cc_2_ul .li2{background:#fff;line-height:75px;}
.cc_2_ul .li3{background:#fff;font-weight:bold;text-align:center;font-size:16px;color:#f43c5e;line-height:35px;}
.cc_2_ul .li4{background:#fff;line-height:35px;border-bottom:1px solid #dcdcdc;overflow:hidden;clear:both;}

.span1{float:left;width:242px;text-align:center;}
.span2{float:left;width:79px;text-align:center;border-left:1px solid #ccc;}
.span3{float:left;width:160px;text-align:center;}
.span4{float:left;width:180px;text-align:center;}
.span_b{border-right:1px solid #ccc;}

/*两个按钮*/
.al{width:300px;margin:20px auto;overflow:hidden;clear:both;}
.al .btn1{width:130px;margin-right:20px;float:left;text-align:center;color:#fff;font-weight:bold;line-height:30px;display:block;background:#f43c5e;}
.al .btn2{width:130px;margin-right:20px;float:left;text-align:center;color:#fff;font-weight:bold;line-height:30px;display:block;background:#1887e3;}

/*学习进度*/
.xxjd_ul{padding:0;margin:0;list-style:none;clear:both;overflow:hidden;}
.xxjd_ul li{margin-top:5px;background:#eee;border:1px solid #ccc;clear:both;overflow:hidden;line-height:35px;height:35px; text-align:center;}
.xxjd_ul .litit{background:#1887e3;color:#fff;}
.xxjd_ul li .w90{float:left;width:90px;border-right:1px solid #ccc;}
.xxjd_ul li .w90n{float:left;border-right:none; text-align:center;width:60px;}
.xxjd_ul li .w120{float:left;width:120px;border-right:1px solid #ccc;}
.xxjd_ul li .w120n{float:left;border-right:none; text-align:center;width:120px;}
.xxjd_ul li .w300{float:left;width:300px;border-right:1px solid #ccc;}
.xxjd_ul li .w100{float:left;width:100px;border-right:1px solid #ccc;}
.xxjd_ul li .w100n{float:left;border-right:none; text-align:center;width:100px;}
.xxjd_ul li .w60{float:left;width:60px;border-right:1px solid #ccc;}
.xxjd_ul li .w60n{float:left;border-right:none; text-align:center;width:60px;}

/*在线测试*/
.c_tit{font-size:22px;width:100%;height:50px;line-height:50px;text-align:center;overflow:hidden;clear:both;border-bottom:1px solid #ccc;}
.xxjd_ul_cs{padding:0;margin:0;list-style:none;clear:both;overflow:hidden;}
.xxjd_ul_cs li{background:#eee;border:1px solid #ccc;clear:both;overflow:hidden;line-height:35px;height:35px; text-align:center;}
.xxjd_ul_cs .litit{background:#1887e3;color:#fff;}
.xxjd_ul_cs .w120{float:left;width:120px;border-right:1px solid #ccc;}
.xxjd_ul_cs .w120n{float:left;border-right:none; text-align:center;width:120px;}
.xxjd_ul_cs .w300{float:left;width:300px;border-right:1px solid #ccc;}
.xxjd_ul_cs .w100{float:left;width:100px;border-right:1px solid #ccc;}
.xxjd_ul_cs .w100n{float:left;border-right:none; text-align:center;width:100px;}

/*在线练习*/
.xxjd_ul_lx{padding:0;margin:0;list-style:none;clear:both;overflow:hidden;}
.xxjd_ul_lx li{background:#eee;border:1px solid #ccc;clear:both;overflow:hidden;line-height:35px;text-align:center;}
.xxjd_ul_lx .li1{clear:both;overflow:hidden;line-height:60px;background:none;border-top:0;}
.xxjd_ul_lx .w100{float:left;width:90px;border-right:1px solid #ccc;}
.xxjd_ul_lx .w100n{float:left;border-right:none; text-align:center;width:60px;}
.xxjd_ul_lx .w240{float:left;width:240px;border-right:1px solid #ccc;}

.xxjd_ul_lx .w60{float:left;width:60px;border-right:1px solid #ccc;}
.xxjd_ul_lx .w60n{float:left;border-right:none; text-align:center;width:60px;}
.xxjd_ul_lx .h60{height:60px;}