<include file="common:header" />

	<div>
		<div class="banner">
			<ul class="banList">
				<li class="active"><a href=""><img src="__PUBLIC__/images/banner_1.jpg"></a></li>
				<li class=""><a href=""><img src="__PUBLIC__/images/banner_1.jpg"></a></li>
			</ul>
			<div class="fomW">
				<div class="jsNav">
					<a href="javascript:;" class="trigger current"></a>
					<a href="javascript:;" class="trigger"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="h_logo">
		<div class="h_bg"></div>
		<empty name="user_id">
		<!-- 未登录状态 -->
		<div class="fr" style="padding:20px;width:280px;">
			<form method="post" action="/member/ajaxlogin">
			<div>
				<div class="fl"><input name="username"  type="text"  placeholder="输入账号" onfocus="this.placeholder=''" onblur="this.placeholder='输入账号'" /></div>
				<div class="icon_user fl"></div>
				<div class="clear"></div>
			</div>
			<div>
				<div class="fl"><input name="password" id="password" type="password" placeholder="输入密码" onfocus="this.placeholder=''" onblur="this.placeholder='输入密码'"/></div>
				<div class="icon_pass fl"></div>
				<div class="clear"></div>
			</div>
			<div>
				<div class="fl"><a href="/member/resetpass">忘记密码？</a></div>
				<div class="fr is_zd" style="color:#4D4D4D;"><a href="JavaScript:;">下次自动登录</a></div>
				<div class="clear"></div>
			</div>
			<div class="login_in cp" onclick="$('form').submit()">
				登录哈学库
			</div>
			<input type="hidden" value="0" name="auto_login" id="auto_login">
			</form>
			<a href="/member/register"><div style="margin:10px;font-size:18px;text-align:center;color:#FF9118;font-weight:bold;text-decoration:underline;cursor:pointer;">
				没有账号？快速登录
			</div></a>
			<div class="bai_san"></div>
			<div class="login_bottom">
				<a href="/sinaconnect/login"><div class="icon_wb"></div></a>
				<a href="/weixinconnect/login"><div class="icon_wx"></div></a>
				<a href="/qqconnect/login"><div class="icon_qq"></div></a>
			</div>
		</div>
		<else />
		<!-- 登录状态 -->
		<div class="fr" style="padding:20px;width:280px;">
			<div style="width:82px;">
				<img src="{$user_data.photo}" style="width:82px;border-radius:50px;">
			</div>
			<div style="width:280px;height:30px;line-height:30px;text-align:center;">
				<div style="width:100px;">
					<div class="icon_girl fl" style="font-size:18px;color:#1a1a1a;">{$nick_name}</div>
					<div class="clear"></div>
				</div>
			</div>
			<div style="width:280px;text-align:center;font-size:18px;color:#4c4c4c;">
				欢迎您回到哈学库
			</div>
			<a href="">
				<div class="login_btn_c cp">
					进入题库
				</div>
			</a>
			<a href="/member/">
				<div class="login_btn cp">
					我的主页
				</div>
			</a>
			<div class="h_line" style="">
			</div>
			<div style="line-height:48px;">
				<a href=""><div class="fl h_help" style="color:#0190f2;">使用帮助</div></a>
				<div class="fr"><a href="" style="color:#0190f2;">修改密码</a></div>
			</div>
		</div>
		</empty>
	</div>
	<div class="clear"></div>
	<div style="width:1000px;margin:30px auto;">
		<div class="fl" style="width:650px;height:320px;">
			<div>
				<div class="fl" style="font-size:20px;font-weight:bold;margin:4px;">最新试卷</div>
				<div class="fl" style="margin:0px 20px;">
					<div class="fl h_tag_c"><span>高三</span></div>
					<div class="fl h_tag"><span>高二</span></div>
					<div class="fl h_tag"><span>高一</span></div>
				</div>
				<div class="fl" style="margin:0px 20px;">
					<div class="fl h_tag"><span>九年级</span></div>
					<div class="fl h_tag"><span>八年级</span></div>
					<div class="fl h_tag"><span>七年级</span></div>
				</div>
				<div class="fl" style="margin-left:20px;">
					<a href=""style="font-size:16px;color:#0190f2;line-height:30px;">更多+</a>
				</div>
				<div class="clear"></div>
			</div>
			<div style="border:1px solid #CCCCCC;border-radius:50px;margin-top:-4px;">
				<div style="width:480px;">
					<volist name="gaozhong" id="vo">
					<div class="fl h_xk">{$vo.course_name}</div>
					</volist>
					<div class="clear"></div>
				</div>
			</div>
			<volist name="gz_shijuan" id="vo" key="kk">
				<volist name="vo" id="v" key="k">
			<div style="margin-top:20px;<if condition="$k neq 1 OR $kk neq 1">display: none;</if>">
				<volist name="v" id="vv">
					<a href="/shijuan/{$vv.id}.html">
				<div class="fl h_li">
					<div class="fl">{$vv.source_name}</div> 
					<div class="fr">{$vv.update_time|date="Y-m-d",###}</div>
				</div></a>
				</volist>
			</div>
			</volist>
			</volist>
		</div>
		<div class="fr" style="">
			<img src="__PUBLIC__/images/pic_1.jpg" />
		</div>
		<div class="clear"></div>
	</div>
	<div style="background:#F5F5F5;width:100%"> 
		<div style="width:1000px;padding:45px 0px;">
		<a href="">
			<div class="fl p_all" style="width:180px;">
				<div class="plate_1"></div>
				<div class="plate_title">海量题库</div>
				<div>初中、高中各学科经典题库<br />妈妈再也不要用担心你不会</div>
			</div>
		</a>
		<a href="">
			<div class="fl p_all" style="width:180px;margin-left:93px;">
				<div class="plate_2"></div>
				<div class="plate_title">海量题库</div>
				<div>初中、高中各学科经典题库<br />妈妈再也不要用担心你不会</div>
			</div>
		</a>
		<a href="">
			<div class="fl p_all" style="width:180px;margin-left:93px;">
				<div class="plate_3"></div>
				<div class="plate_title">海量题库</div>
				<div>初中、高中各学科经典题库<br />妈妈再也不要用担心你不会</div>
			</div>
		</a>
		<a href="">
			<div class="fl p_all" style="width:180px;margin-left:93px;">
				<div class="plate_4"></div>
				<div class="plate_title">海量题库</div>
				<div>初中、高中各学科经典题库<br />妈妈再也不要用担心你不会</div>
			</div>
		</a>
			<div class="clear"></div>
		</div>
	</div>
<script type="text/javascript"> 
	$(function(){
		$(".banner").swBanner();
	});
</script>
<script type="text/javascript" src="__PUBLIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<link href="/Public/css/validform.css" rel="stylesheet" type="text/css" />
<script>
	$(
		function(){
   		$("form").Validform(
   			{
   				tiptype:4,
   				ajaxPost:true,
   				callback:function(data){
   					if(data.status=='ok'){
   						window.location.href='/';
   					}
   				}
   			}
   		);
    });
</script>
<include file="common:footer" />
