<include file="common:header" />
	<div class="xf_qiehuankmbox">
			<div class="xf_qiehuankminner">
				<div class="xf_dqkm"><if condition="$this_course_type eq 1">高中<elseif condition="$this_course_type eq 2" />初中</if>
					<span class="c_blue xf_dqkmlx">{$this_course_name}</span> 
					<a href="JavaScript:;"> [切换科目]</a>
				</div>
				<!-- 选择科目 -->
				<div class="xf_xuanzekmbox">
					<notempty name="gaozhong">
					<div>
						<em>&lt;高中&gt;</em>
						<volist name='gaozhong' id='vo'>
						<a href="javascript::void(0)" <eq name="this_course_id" value="$vo.id">class="cur"</eq> onclick="change_course({$vo.id});">{$vo.course_name}</a>
						</volist>
					</div>
					</notempty>
					<notempty name="chuzhong">
					<div>
						<em>&lt;初中&gt;</em>
						<volist name='chuzhong' id='vo'>
						<a href="javascript::void(0)" <eq name="this_course_id" value="$vo.id">class="cur"</eq> onclick="change_course({$vo.id});">{$vo.course_name}</a>
						</volist>
					</div>
					</notempty>
				</div>
				<!-- 选择科目end -->
				<div class="xf_righexzfl">
					<ul>
						<li class='cur'><a href="JavaScript:;">在线组课</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class='xf_centerbox'>
			<!--left-->
			<div class="tk_left j_c_list" style="">
				<div style="height:80px;line-height:80px;">
					<div class="fl" style="margin-left:2px;">教材版本：</div>
					<div class="fl new_select" style="width:140px;margin-top:20px;">
						<div class="select_div fl" style="width:90px;height:25px;line-height:25px;padding:5px;overflow:hidden;">
							<select style="width: 90px;" id="round">
								<volist name="round" id="vo">
								<option  value="{$vo.id}" <eq name="vo.id" value="$this_round_id">selected=""</eq>>{$vo.title}</option>
								</volist>
							</select>
						</div>
						<!-- <div class="sel_down fl"></div>
						<div class="sel_list" style="width:116px;">
							<div class="cp">高中数学一轮</div>
							<div class="cp">高中数学二轮</div>
						</div> -->
					</div>
				</div>
				<h3>全部教材</h3>
				<div class="tt_left">
				<ul class="zsd_ul ce">
					<volist name="topic_tree" id="vo">
					<li>
						<a href="javascript:void(0)" class=""><i class="ce_jia"></i> <span id="{$vo.id}">{$vo.title}</span></a>
						<notempty name="vo.childs">
						<ul class="er" style="display: none;">
							<volist name="vo.childs" id="v">
							<li class="e_li">
								<a href="javascript:void(0)" class=""><i class="ce_jia"></i><span id="{$v.id}">{$v.title}</span></a>
								<notempty name="vo.childs">
								<ul class="thr" style="display: none;">
									<volist name="v.childs" id="vs">
									<li class="er_li"><a ><span  id="{$vs.id}"> {$vs.title}</span></a></li>
									</volist>
									<div class="clear"></div>
								</ul>
								</notempty>
							</li>
							</volist>
						</ul>
						</notempty>
					</li>	
					</volist>
					
					<div class="clear"></div>
				</ul>
				</div>
			</div>
			<div class="fr xf_rightcenterbox" style="width:785px;"> 
				<div class="xf_xuanzetxnd">
					<div class="fl" style="width:100%;border-top:1px solid #D9D9D9;border-right:1px solid #D9D9D9;margin-left:-1px;">
						<div class="fl" style="line-height:40px;padding-left:20px;">模块：</div>
						<div class='xf_paixulb' id="module">
							<volist name="resource" id="vo">
							<div id="{$vo.id}" class="tags" type='{$vo.type}'>{$vo.title}</div>
							</volist>
						</div>
					</div>
					<div class="clear"></div>
					<div id="tixing" style="border:1px solid #D9D9D9;padding:10px;margin-left:-1px;display:none;" >
						<div style="width:100%;min-height:20px;" id="type_id">
							<div class="fl" style="margin:10px 12px;">类型</div>
							<div class="fl xf_duoququyu">
								<div class="tags active" id="0">全部<div class="tag2_ch"></div></div>
								<div class="tags" id="1"><if condition="$this_course_type eq 1">高考<elseif condition="$this_course_type eq 2" />中考</if>真题<div class="tag2_ch"></div></div>
								<div class="tags" id="2">试题精粹<div class="tag2_ch"></div></div>
							</div>
							<div class="clear"></div>
						</div>
						
						<div style="width:100%;min-height:20px;" id="tixing_id">
							<div class="fl" style="margin:10px 12px;">题型</div>
							<div class="fl xf_duoququyu">
								<div class="tags active" id="0">全部<div class="tag2_ch"></div></div>
								<volist name="tixing" id="vo">
								<div class="tags" id="{$vo.id}">{$vo.title}<div class="tag2_ch"></div></div>
								</volist>
							</div>
							<div class="clear"></div>
						</div>
						<div style="width:100%;min-height:20px;" id="difficulty_id">
							<div class="fl"style="margin:10px 12px;">难度</div>
							<div class="fl xf_duoququyu">
								<div class="tags active" id="0">全部<div class="tag2_ch"></div></div>
								<div class="tags" id="1">容易<div class="tag2_ch"></div></div>
								<div class="tags" id="2">一般<div class="tag2_ch"></div></div>
								<div class="tags" id="3">较难<div class="tag2_ch"></div></div>
							</div>
							<div class="clear"></div>
						</div>
						<div style="width:100%;min-height:20px;"  id="year_id">
							<div class="fl" style="margin:10px 12px;">年份</div>
							<div class="fl xf_duoququyu">
								<div class="tags active">全部<div class="tag2_ch"></div></div>
								<div class="tags" id="2015">2015年<div class="tag2_ch"></div></div>
								<div class="tags" id="2014">2014年<div class="tag2_ch"></div></div>
								<div class="tags" id="2013">2013年<div class="tag2_ch"></div></div>
								<div class="tags" id="-1">更早以前<div class="tag2_ch"></div></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div style="border-bottom:1px solid #D9D9D9;border-right:1px solid #D9D9D9;"> 
						<div class="fl" style="width:648px;">
							<div class="fl" style="line-height:40px;padding-left:20px;">排序：</div>
							<div class='xf_paixulb'>
								<div id="" class="tags active">默认</div>
								<div id="" class="tags">最新</div>
								<div id="" class="tags">最热门</div>
							</div>
							<div class="fr xf_shaixuansctm">
								<a href="JavaScript:;">过滤使用过的题目</a>
								<a href="JavaScript:;" class='active'>收藏的试题</a>
							</div>
						</div>
						<div class="fr" id="pages" style="width:116px;height:40px;border-left:1px solid #D9D9D9;line-height:40px;">
							
						</div>
						<div class="clear"></div>
					</div>	
				</div>
				<div style="height:5px;width:100%;" id="after"></div>
				<div id="content"></div>
				<!-- 分页 -->
				<input type="hidden" id="cur_page" value=""/>
				<input type="hidden" id="total_page" value="" />
				<div>
					<div class="page" style="padding-right:0px;">
						<a href="##" style="width:100px"> < 上一页</a>
						<a class="check" href="##">1</a>
						<a href="##">2</a>
						<a href="##">3</a>
						<span>...</span>
						<a href="##">38</a>
						<a href="##" style="width:100px;">下一页  >  </a>
						<div style="clear:both;"></div>
					</div>	
				</div>
				<!-- 分页end -->
			</div>
		</div>
	
	<div class="xf_fanhuidb"><a href="#"></a></div>
	<div class="xf_dqxuanzet active">
		<div class="xf_mysjleft">
			<p>我</p>
			<p>的</p>
			<p><i>》</i></p>
			<p>学</p>
			<p>案</p>
			<span>10道</span>
		</div>
		<div class="xf_showsj">
			<em><i>清空</i></em>
			<div id="zuke_cart">
			<volist name="zuke_cart" id="vo">
			<p>{$vo.title}(<span>{$vo.total}</span>)</p>
			</volist>
			</div>
			<div class='xf_scsjbutton'><a href="JavaScript:;" onclick="shengcheng()">生成学案</a></div>
		</div>
	</div>
	<div class="xf_tishijjpop xf_qksjpop">
		<p>
			<img src="images/ico_tsjj.png" alt="">
			<span>收集那么多的好试题，确定要清空试卷吗？</span>
		</p>
		<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
	</div>
<script>
function change_course(id){
$.getJSON(
	'/index.php/home/zuke/ajaxChangeCourse',
	{id:id},
	function(data){
		if(data.status=='ok'){
				location.reload();
				
			}
		}
		
	);
}
$(".xf_showsj em i").click(function(){
	$.getJSON(
	'/index.php/home/zuke/ajaxClearCart',
	function(data){
		if(data.status=='ok'){
				location.reload();
			}
		}
		
	);
});

function shengcheng(){
	$.getJSON(
	'/index.php/home/zuke/ajaxGoCenter',
	function(data){
		if(data.status=='ok'){
				window.location.href = '/zuke/center';
				
			}
		}
		
	);
}
$('#round').change(function(){
	var id = $(this).val();
	$.getJSON(
	'/index.php/home/zuke/ajaxChangeRound',
	{id:id},
	function(data){
		if(data.status=='ok'){
				location.reload();
				
			}
		}
		
	);
});
 function htmlspecialchars_decode(str){           
          str = str.replace(/&amp;/g, '&');
          str = str.replace(/&lt;/g, '<');
          str = str.replace(/&gt;/g, '>');
          str = str.replace(/&quot;/g, "''");  
          str = str.replace(/&#039;/g, "'");  
          return str;  
} 

$(
	function(){
		var resource_id = $('#module').children("div:first-child").attr('id');
		$('#module').children("div").removeClass('active');
		$('#module').children("div:first-child").addClass('active');
		$.getJSON(
		'/index.php/home/zuke/ajaxGetCaseData',
		{resource_id:resource_id},
		function(data){
			
			if(data.status=='ok'){
					show_data(data.data);
				}
			}
			
		);
	}
);
function next_page(){
	var to_page = parseInt($('#cur_page').val())+1;
	var total_page = parseInt($('#total_page').val());
	if(to_page>total_page){
		return false;
	}
	var topic_id = $('.tt_left').find('.active').attr('id');
	var resource_id = $('#module').find('.active').attr('id');
	var param = {
		resource_id:resource_id,
		topic_id:topic_id,
		p:to_page
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetCaseData',
	param,
	function(data){
		
		if(data.status=='ok'){
				show_data(data.data);
			}
		}
		
	);
}
function _next_page(){
	var to_page = parseInt($('#cur_page').val())+1;
	var total_page = parseInt($('#total_page').val());
	if(to_page>total_page){
		return false;
	}
	var topic_id = $('.tt_left').find('.active').attr('id');
	var type_id = $('#type_id').find(".active").attr('id');
	var tixing_id = $('#tixing_id').find(".active").attr('id');
	var difficulty_id = $('#difficulty_id').find(".active").attr('id');
	var year_id = $('#year_id').find(".active").attr('id');
	var param = {
		topic_id:topic_id,
		p:to_page,
		type_id:type_id,
		tixing_id:tixing_id,
		difficulty_id:difficulty_id,
		year_id:year_id
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetShitiData',
	param,
	function(data){
		
		if(data.status=='ok'){
				_show_data(data.data);
			}
		}
		
	);
}
function prev_page(){
	var to_page = parseInt($('#cur_page').val())-1;
	var total_page = parseInt($('#total_page').val());
	if(to_page<1){
		return false;
	}
	var topic_id = $('.tt_left').find('.active').attr('id');
	var resource_id = $('#module').find('.active').attr('id');
	var param = {
		resource_id:resource_id,
		topic_id:topic_id,
		p:to_page
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetCaseData',
	param,
	function(data){
		
		if(data.status=='ok'){
				show_data(data.data);
			}
		}
		
	);
}
function _prev_page(){
	var to_page = parseInt($('#cur_page').val())-1;
	var total_page = parseInt($('#total_page').val());
	if(to_page<1){
		return false;
	}
	var topic_id = $('.tt_left').find('.active').attr('id');
	var type_id = $('#type_id').find(".active").attr('id');
	var tixing_id = $('#tixing_id').find(".active").attr('id');
	var difficulty_id = $('#difficulty_id').find(".active").attr('id');
	var year_id = $('#year_id').find(".active").attr('id');
	var param = {
		topic_id:topic_id,
		p:to_page,
		type_id:type_id,
		tixing_id:tixing_id,
		difficulty_id:difficulty_id,
		year_id:year_id
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetShitiData',
	param,
	function(data){
		
		if(data.status=='ok'){
				_show_data(data.data);
			}
		}
		
	);
}
function go_page(page){
	var to_page = parseInt(page);
	var total_page = parseInt($('#total_page').val());
	
	var topic_id = $('.tt_left').find('.active').attr('id');
	var resource_id = $('#module').find('.active').attr('id');
	var param = {
		resource_id:resource_id,
		topic_id:topic_id,
		p:to_page
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetCaseData',
	param,
	function(data){
		
		if(data.status=='ok'){
				show_data(data.data);
			}
		}
		
	);
}
function _go_page(page){
	var to_page = parseInt(page);
	var total_page = parseInt($('#total_page').val());
	
	var topic_id = $('.tt_left').find('.active').attr('id');
	var type_id = $('#type_id').find(".active").attr('id');
	var tixing_id = $('#tixing_id').find(".active").attr('id');
	var difficulty_id = $('#difficulty_id').find(".active").attr('id');
	var year_id = $('#year_id').find(".active").attr('id');
	var param = {
		topic_id:topic_id,
		p:to_page,
		type_id:type_id,
		tixing_id:tixing_id,
		difficulty_id:difficulty_id,
		year_id:year_id
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetshitiData',
	param,
	function(data){
		
		if(data.status=='ok'){
				_show_data(data.data);
			}
		}
		
	);
}
$('#module').children('div[type=1]').click(function(){
	$('#tixing').hide();
	var resource_id = $(this).attr('id');
	var topic_id = $('.tt_left').find('.active').attr('id');
	$('#module').children("div").removeClass('active');
	$(this).addClass('active');
	var param = {
		resource_id:resource_id,
		topic_id:topic_id
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetCaseData',
	param,
	function(data){
		
		if(data.status=='ok'){
				show_data(data.data);
			}
		}
		
	);
});
$('#module').children('div[type=2]').click(function(){
	$('#tixing').show();
	var topic_id = $('.tt_left').find('.active').attr('id');
	$('#module').children("div").removeClass('active');
	$(this).addClass('active');
	var param = {
		topic_id:topic_id
	};
	$.getJSON(
	'/index.php/home/zuke/ajaxGetShitiData',
	param,
	function(data){
		
		if(data.status=='ok'){
				_show_data(data.data);
			}
		}
		
	);
});
$('.tt_left').find('span').click(function(){
	var resource_id = $('#module').children(".active").attr('id');
	var topic_id = $(this).attr('id');
	var param = {
		resource_id:resource_id,
		topic_id:topic_id
	};
	var obj = $(this);
	$.getJSON(
	'/index.php/home/zuke/ajaxGetCaseData',
	param,
	function(data){
		if(data.status=='ok'){
				$('.tt_left').find('.active').removeClass('active');
				obj.addClass('active');
				show_data(data.data);
			}
		}
		
	);
});
function show_data(data){
	var html = '';
	$.each(data.data,function(key,val){
			html += '<div class="xf_teshuli">'+
			'<div class="xf_jiecuobox">'+
				'<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>'+
				'<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>'+
			'</div>'+
			'<a href="JavaScript:;" class="xf_jiucuo">纠错</a>'+
			'<div style="border-bottom:1px solid #D9D9D9;padding:10px;">'+
				'学案号：<span>'+val.id+'</span> &nbsp;&nbsp;资源类型：<span>'+val.title+'</span>'+
			'</div>'+
			'<div style="padding:15px 20px 10px 20px;">'+
				'<p>【'+val.title+'】'+htmlspecialchars_decode(val.content)+'</p>'+
				'<div style="margin-top:10px;">'+
					'<div class="fr"><a href="#" class="xf_layuanspan">来源:'+val.topic_title+'</a></div>'+
					'<div class="clear"></div>'+
				'</div>'+
			'</div>'+
			'<div style="border-top:1px solid #D9D9D9;">'+
				
				'<div class="fr">'+
					
					'<a href="JavaScript:;" class="jr_btn" onclick="add_cart('+val.id+',1,$(this))">+加入学案</a>'+
				'</div>'+
				'<div class="clear"></div>'+
			'</div>'+
		'</div>';
		});

		var page_html = '<div class="fl" style="padding:0px 4px;"><a href="javascript:void(0);" onclick="prev_page();"> < </a></div>'+
							'<div class="fl" style="width:79px;text-align:center;">'+
								'<span ><i style="color:#1194f3;font-style: normal;">'+data.cur_page+'</i>/'+data.page_count+'</span>'+
							'</div>'+
							'<div class="fl" style="padding:0px 4px;"><a href="javascript:void(0);" onclick="next_page();"> > </a></div>';
		$('#cur_page').val(data.cur_page);
		$('#total_page').val(data.page_count);
		$('#pages').html(page_html);
		show_page(data.cur_page,data.page_count);
		$('#content').html(html);
}

function show_page(cur_page,total_page){
	cur_page = parseInt(cur_page);
	total_page = parseInt(total_page);
	var page_html = '';
	if(total_page>1){
		if(cur_page>1){
			page_html += '<a href="javascript:void(0);" style="width:100px" onclick="prev_page()"> < 上一页</a>';
		}
		var t = 0;
		for(i=cur_page-3;i<=total_page;i++){
			//alert(i);
			if(i>0 && i<=total_page && t<5){
				t++;
				if(i==cur_page){
					page_html += '<a class="check" href="javascript:void(0);" onclick="go_page('+i+')">'+i+'</a>';
				}else{
					page_html += '<a  href="javascript:void(0);" onclick="go_page('+i+')">'+i+'</a>';
				}
				
			}
		}
		if(cur_page<total_page){
			page_html += '<a href="javascript:void(0);" style="width:100px;" onclick="next_page()">下一页  >  </a>';
		}
	}
	page_html += '<div style="clear:both;"></div>';
	$('.page').html(page_html);
}
function _show_page(cur_page,total_page){
	cur_page = parseInt(cur_page);
	total_page = parseInt(total_page);
	var page_html = '';
	if(total_page>1){
		if(cur_page>1){
			page_html += '<a href="javascript:void(0);" style="width:100px" onclick="_prev_page()"> < 上一页</a>';
		}
		var t = 0;
		for(i=cur_page-3;i<=total_page;i++){
			//alert(i);
			if(i>0 && i<=total_page && t<5){
				t++;
				if(i==cur_page){
					page_html += '<a class="check" href="javascript:void(0);" onclick="go_page('+i+')">'+i+'</a>';
				}else{
					page_html += '<a  href="javascript:void(0);" onclick="_go_page('+i+')">'+i+'</a>';
				}
				
			}
		}
		if(cur_page<total_page){
			page_html += '<a href="javascript:void(0);" style="width:100px;" onclick="_next_page()">下一页  >  </a>';
		}
	}
	page_html += '<div style="clear:both;"></div>';
	$('.page').html(page_html);
}
function _show_data(data){
	var html = '';
	$.each(data.data,function(key,val){
			if(val.difficulty==1){
				var d = '容易';
			}else if(val.difficulty==2){
				var d = '一般';
			}else if(val.difficulty==3){
				var d = '较难';
			}
			html += '<div class="xf_teshuli">'+
				'<div class="xf_jiecuobox">'+
					'<textarea name="" id="" cols="30" rows="10" placeholder="描述下纠错问题吧，我们会及时改正"></textarea>'+
					'<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>'+
				'</div>'+
					'<a href="JavaScript:;" class="xf_jiucuo">纠错</a>'+
					'<div style="border-bottom:1px solid #D9D9D9;padding:10px;">'+
						'难度：<span>'+d+'</span> &nbsp;&nbsp;题型：<span>'+val.tixing_title+'</span>'+
					'</div>'+
					'<div style="padding:20px 20px 10px 20px;">'+
						'<p>'+htmlspecialchars_decode(val.content)+'</p>'+
						'<div style="margin-top:10px;">'+
							'<div class="fl"><a href="JavaScript:;" class="xf_bentijx" onclick="show_jiexi($(this))">本题解析</a></div>'+
							'<div class="fr"><a href="#" class="xf_layuanspan">来源:'+val.topic_title+'</a></div>'+
							'<div class="clear"></div>'+
						'</div>'+
					'</div>'+
					'<div class="xf_jiexida">'+
						'<div></div>'+
						'<div class="xf_jiedainn">'+
							'<i></i>'+
							'<p>'+htmlspecialchars_decode(val.analysis)+'</p>'+
						'</div>'+
					'</div>'+
					'<div style="border-top:1px solid #D9D9D9;">'+
						
						'<div class="fr">'+
							
							'<a href="JavaScript:;" class="jr_btn" onclick="add_cart('+val.id+',2,$(this))">+加入学案</a>'+
						'</div>'+
						'<div class="clear"></div>'+
					'</div>'+
				'</div>';
		});
		var page_html = '<div class="fl" style="padding:0px 4px;"><a href="javascript:void(0);" onclick="_prev_page();"> < </a></div>'+
							'<div class="fl" style="width:79px;text-align:center;">'+
								'<span ><i style="color:#1194f3;font-style: normal;">'+data.cur_page+'</i>/'+data.page_count+'</span>'+
							'</div>'+
							'<div class="fl" style="padding:0px 4px;"><a href="javascript:void(0);" onclick="_next_page();"> > </a></div>';
		$('#pages').html(page_html);
		$('#content').html(html);
		$('#cur_page').val(data.cur_page);
		$('#total_page').val(data.page_count);
		_show_page(data.cur_page,data.page_count);
}
function add_cart(id,type,obj){
	$.getJSON(
		'/index.php/home/zuke/ajaxAddCart',
		{id:id,type:type},
		function(data){
			if(data.status=='ok'){
				var cart = '';
				$.each(data.resource_data,function(key,val){
					cart += '<p>'+val.resource_name+'(<span>'+val.my_total+'</span>)</p>';
				});
				//alert(cart);
				if(obj.hasClass('active')){
					obj.removeClass('active').text("+加入学案")
				}else{
					obj.addClass('active').text("－移出学案")
				}
				$('#zuke_cart').html(cart);
			}
		}
		
	);
}
$('#tixing .tags').click(function(){
	$(this).siblings().removeClass('active');
	$(this).addClass('active');
	var topic_id = $('.tt_left').find('.active').attr('id');
	var type_id = $('#type_id').find(".active").attr('id');
	var tixing_id = $('#tixing_id').find(".active").attr('id');
	var difficulty_id = $('#difficulty_id').find(".active").attr('id');
	var year_id = $('#year_id').find(".active").attr('id');

	var param = {
		topic_id:topic_id,
		type_id:type_id,
		tixing_id:tixing_id,
		difficulty_id:difficulty_id,
		year_id:year_id
	};
	var obj = $(this);
	$.getJSON(
	'/index.php/home/zuke/ajaxGetShitiData',
	param,
	function(data){
		
		if(data.status=='ok'){
				_show_data(data.data);
			}
		}
		
	);
});
$(".xf_bentijx").click(function(){
	if($(this).hasClass('cur')){
		$(this).removeClass('cur').parents(".xf_teshuli").find(".xf_jiexida").slideUp(300);
	}else{
		$(this).addClass('cur').parents(".xf_teshuli").find(".xf_jiexida").slideDown(300);
	}
});
function show_jiexi(obj){
	var jiexi = obj.parent().parent().parent().next();
	if(jiexi.is(":visible")){
		jiexi.hide()
	}else{
		jiexi.show()
	}
}
</script>
<include file="common:footer" />