	<!-- footer -->
	{$my_js}
	<div id="footer">
		<div class="footer">
			<div><a href="">关于我们</a> 丨 <a href="">隐私保护政策</a>  丨  <a href="">服务条款</a> 丨 <a href="">联系我们</a> </div>  
			<div><span style="font-size:12px;">COPYRIGHT 2015  哈学库  版权所有   www.haxueku.com</span></div>
		</div>
	</div>
	<!-- footer end -->
	<!-- 清空试卷 -->
	<div class="xf_tishijjpop xf_qksjpop">
		<p>
			<img src="images/ico_tsjj.png" alt="">
			<span>收集那么多的好试题，确定要清空试卷吗？</span>
		</p>
		<div><a href="JavaScript:;">确定</a><a href="JavaScript:;">取消</a></div>
	</div>
	<!-- 清空试卷end -->
	<script>
		
		$(window).scroll(function() {
			var xf_scroll = $(window).scrollTop();
			if(xf_scroll>462){
				$(".xf_xuanzetxnd,.j_c_list").addClass('cur');
				$(".xf_centerbox").addClass('xf_scroll');
			}else{
				$(".xf_xuanzetxnd,.j_c_list").removeClass('cur');
				$(".xf_centerbox").removeClass('xf_scroll');
			}
		});
		function baocuo(obj,id){
			if(obj.parent().prev().val()===''){
				obj.parent().prev().attr('style','border:1px solid red;');
			}else{
				$.getJSON(
				'/index.php/home/tiku/ajaxBaocuo',
				{id:id,msg:obj.parent().prev().val()},
				function(data){
					if(data.status=='notlogin'){
						window.location.href = '/member/login';
					}else if(data.status=='error'){
						//错误提示弹窗
					}else if(data.status=='ok'){
						$(".xf_jiecuobox").hide();
					}
				}
				
			);
			}
		}
		function quxiao(obj){
			obj.parent().parent().hide();
		}
		function add_tiku(id,obj){
			$.getJSON(
				'/index.php/home/tiku/ajaxAddTiku',
				{id:id},
				function(data){
					
					if(data.status=='success'){
						var tips = '';
						if(data.type_data != null){
							tips = '<em><i>清空</i></em>';
							$.each(data.type_data,function(index,dom){
								//alert('s');
								tips += '<p>'+dom.type_name+'(<span>'+dom.num+'</span>/'+dom.num+')</p>';
							}
							
							);
							tips += "<div class='xf_scsjbutton'><a href=\"/shijuan/\">生成试卷</a></div>";
						}else{
							tips = '';
						}
						if(obj.hasClass('active')){
							obj.removeClass('active').text("+加入试卷")
						}else{
							obj.addClass('active').text("－移出试卷")
						}
						$('.xf_showsj').html(tips);
					}
				}
			);
		}
	</script>
</body>
</html>