<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$meta_title}</title>
<meta name="keywords" content="{$meta_keyword}" />
<meta name="description" content="{$meta_description}" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css" />
{$my_css}
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.1.min.js"></script>
</head>
<body>
	<!--header-->
	<div id="header">
		<div id="top">
			<div style="width:1000px;height:40px;">
				<notempty name="user_id">
				<div class="fl top_a">
					<div>
						<div class="fl c_blue mb10">{$nick_name}</div>
						<div class="top_b fl">欢迎回来哦!</div>
						<div class="clear"></div>
					</div>				
					<div class="top_gr">
						<div class="top_c"></div>
						<div class="top_nav">
							<!-- <a href=""><div class="top_user_li" style="background:#fff;">
								<div class="fl">消息</div>
								<div class="fr r_bg" style="">3</div>
								<div class="clear"></div>
							</div></a> -->
							<a href="__ROOT__/member/"><div class="top_user_li" style="">个人中心</div></a>
							<a href="__ROOT__/member/logout"><div class="top_user_li" style="">退出登录</div></a>
						</div>
					</div>
				</div>
				</notempty>
				<div class="fr">
					<empty name="user_id"><div class="fl font_b mr20"><a href="__ROOT__/member/login">登陆 </a>|<a href="__ROOT__/member/register"> 注册</a></div></empty>
					<div class="fl font_b c_cheng site_home">设为首页</div>
					<div class="fl collect">收藏</div>
					<empty name="user_id">
					<div class="fl top_right"><a href="__ROOT__/sinaconnect/login" class="weibo"></a> <a href="__ROOT__/weixinconnect/login" class="weixin"></a></div>
					</empty>
				</div>
			</div>
		</div>
		<div class="logo_sea">
			<a href="__ROOT__"><div class="fl logo"></div></a>
			<div class="fl top_line" style="margin-left:100px;">
				<div class="search">
					<div class="fl sea_left cp">
						<em><a href="#">题库</a></em>
						<ul>
							<li><a href="#">题库2</a></li>
							<li><a href="#">题库2</a></li>
							<li><a href="#">题库2</a></li>
							<li><a href="#">题库2</a></li>
						</ul>
					</div>
					<div class="fl"> 
						<input type="text">	
					</div>
					<div class="fl sea_right text_c f18 cp">
						搜索
					</div>
				</div>
			</div>
		</div>
		<div class="xf_topnavbox">
			<div class='xf_topnavinner'>
				<ul>
					<li><a href="__ROOT__">首页</a></li>
					<li class='xf_topnavtk <eq name="this_module" value="tiku">cur</eq> '>
						<a href="#">题库</a>
						<div class="xf_tikml">
							<notempty name="gaozhong">
							<dl>
								<dt><高中></dt>
								<volist name='gaozhong' id='vo'>
								<dd><a  onclick="select_course({$vo.id},'{$vo.pinyin}','tiku');">{$vo.course_name}</a></dd>
								</volist>
							</dl>
							</notempty>
							<notempty name="chuzhong">
							<dl>
								<dt><高中></dt>
								<volist name='chuzhong' id='vo'>
								<dd><a href="javascript::void(0)" onclick="select_course({$vo.id},'{$vo.pinyin}','tiku');">{$vo.course_name}</a></dd>
								</volist>
							</dl>
							</notempty>
						</div>
					</li>
					<li <eq name="this_module" value="smart">class='cur'</eq>><a href="__ROOT__/smart/">组卷</a></li>
					<li <eq name="this_module" value="jingpin">class='cur'</eq>><a href="javascript:void(0)" onclick="jingpin()">试卷</a></li>
					<li <eq name="this_module" value="lianxi">class='cur'</eq>><a href="__ROOT__/lianxi/">在线练习</a></li>
					<li <eq name="this_module" value="zuke">class='cur'</eq>><a href="__ROOT__/zuke/">组课</a></li>
					<li <eq name="this_module" value="studycenter">class='cur'</eq>><a href="__ROOT__/studycenter/index/">学习中心</a></li>
					
				</ul>
			</div>
		</div>
	</div>
<script>
function select_course(id,pinyin,jumpto,f='<php>echo $_GET['for'];</php>'){
	$.getJSON(
		'/index.php/home/tiku/ajaxSelectCourse',
		{id:id,pinyin:pinyin,jumpto:jumpto},
		function(data){
			if(data.status=='ok'){
				if(f!=''){
					window.location.href = data.jumpto+'?for='+f;
				}else{
					window.location.href = data.jumpto;
				}
				
			}
		}
		
	);
}
function jingpin(){
	$.getJSON(
		'/index.php/home/jingpin/ajaxSelCourse',
		function(data){
			if(data.status=='ok'){
				window.location.href = data.jumpto;
			}
		}
		
	);
}
</script>