<include file="common:header" />
<div id="main"style="margin-top:2px;min-height:500px;">
		<div class="xf_qiehuankmbox">
			<div class="xf_qiehuankminner">
				<div class="xf_dqkm"><if condition="this_course_type eq 1">高中<elseif condition="this_course_type eq 2">初中</if>
					<span class="c_blue xf_dqkmlx">{$this_course_name}</span> 
					<a href="JavaScript:;"> [切换科目]</a>
				</div>
				<!-- 选择科目 -->
				<div class="xf_xuanzekmbox">
					<notempty name="gaozhong">
					<div>
						<em>&lt;高中&gt;</em>
						<volist name='gaozhong' id='vo'>
						<a href="javascript::void(0)" <eq name="this_course_id" value="$vo.id">class="cur"</eq> onclick="select_course({$vo.id},'{$vo.pinyin}','{$jumpto}');">{$vo.course_name}</a>
						</volist>
					</div>
					</notempty>
					<notempty name="chuzhong">
					<div>
						<em>&lt;初中&gt;</em>
						<volist name='chuzhong' id='vo'>
						<a href="javascript::void(0)" <eq name="this_course_id" value="$vo.id">class="cur"</eq> onclick="select_course({$vo.id},'{$vo.pinyin}','{$jumpto}');">{$vo.course_name}</a>
						</volist>
					</div>
					</notempty>
				</div>
				<!-- 选择科目end -->
				<div class='xf_zaixuanzj'>在线组卷</div>
				
			</div>
		</div>
		
		<div>
			<div class="na">
				<div class="fl j_c na_n<eq name="smart_type" value="jc">_check</eq>" id="jc">
					教材选题
				</div>
				<div class="fl zsd na_n<eq name="smart_type" value="zsd">_check</eq>" id="zsd">
					知识点选题
				</div>
			</div>
		</div>
		<div style="width:1000px;margin-top:10px;">
			<!--left-->
			<eq name="smart_type" value="zsd">
			<div class="tk_left zsd_list xf_xzleffxf" >
				<h3>全部知识点</h3>
				<div class="tt_left">
				
				<ul class="zsd_ul ce">
					<volist name="point_data" id="vo" key="k">
					<li>
						<a href="##"><i class="ce_jia"></i> <span>{$vo.point_name}</span></a>
						<ul class="er">
							<volist name="vo.childs" id="v">
							<li class="er_li"><t id="{$v.id}">{$v.point_name}</t></li>
							</volist>
						</ul>
					</li>	
					</volist>
					<div class="clear"></div>
				</ul>
				</div>
			</div>
			<else />
			<div class="tk_left zsd_list xf_xzleffxf" >
				<h3>全部教材</h3>
				<div class="tt_left">
				
				<ul class="zsd_ul ce">
					<volist name="chapter_data" id="vo" key="k">
					<li>
						<a href="##"><i class="ce_jia"></i> <span>{$vo.chapter_name}</span></a>
						<ul class="er">
							<volist name="vo.childs" id="v">
							<li class="er_li"><t id="{$v.id}">{$v.chapter_name}</t></li>
							</volist>
						</ul>
					</li>	
					</volist>
					<div class="clear"></div>
				</ul>
				</div>
			</div>
			</eq>
			<div class="fr" style="width:780px;">
				 <div style="margin-bottom:10px;">
					<div style="width:100%;height:30px;margin-bottom:10px;">
						<div class="fl" style="width:100px;height:30px;line-height:15px;margin-right:70px;">
							<div class="text_c">容易</div>
							<div class="text_c">1.00-0.86</div>	
						</div>
						<div class="fl" style="width:100px;height:30px;line-height:15px;margin-right:70px;">
							<div class="text_c">较易</div>
							<div class="text_c">0.85-0.71</div>	
						</div>
						<div class="fl" style="width:100px;height:30px;line-height:15px;margin-right:70px;">
							<div class="text_c">中等</div>
							<div class="text_c">0.70-0.56</div>	
						</div>
						<div class="fl" style="width:100px;height:30px;line-height:15px;margin-right:70px;">
							<div class="text_c">较难</div>
							<div class="text_c">0.55-0.41</div>	
						</div>
						<div class="fl" style="width:100px;height:30px;line-height:15px;">
							<div class="text_c">困难</div>
							<div class="text_c">1.00-0.86</div>	
						</div>
					</div>
					<div style="border:1px solid #D9D9D9;width:100%;height:45px;">
						<div style="height:10px;">
							<div class="fl" style="border-right:2px solid #D9D9D9;width:45px;height:10px;"></div>
							<div class="fl" style="border-right:2px solid #D9D9D9;width:170px;height:10px;"></div>
							<div class="fl" style="border-right:2px solid #D9D9D9;width:170px;height:10px;"></div>
							<div class="fl" style="border-right:2px solid #D9D9D9;width:170px;height:10px;"></div>
							<div class="fl" style="border-right:2px solid #D9D9D9;width:170px;height:10px;"></div>
						</div>
						<input type="hidden" id="kd" value="3">
						<div style="margin: 11px 13px 0;background:#0190F2;height:13px;">
							<div style="width: 688px;margin-left: 23px;;">
								<div class="kedu kedu_3"></div>
							</div>
						</div>
					</div>
				</div> 
				<div class="main">
					<table id="maintable" border="1" cellpadding="0" cellspacing="0">
						<thead>
						<tr class="table_title">
							<th rowspan="2">
								已选知识点（<span id="num_title" class="num_title">0</span>）
							</th>
							<th>
								<p>
									题目数
								</p>
							</th>
							<volist name="tiku_type" id="vo">
							<th>
								<p>
									{$vo.type_name}
								</p>
							</th>
							</volist>
							
						</tr>
						<tr class="table_title">
							<th>
								<p id="sum">
									0
								</p>
							</th>
							<volist name="tiku_type" id="vo">
							<th>
								<p id="sn">
									0
								</p>
							</th>
							</volist>
							
						</tr>
						</thead>
						<tbody id="point_seled">
						
						
						</tbody>
					</table>
					<div class="f_tbtn">
						<a id="goPaperEdit">{$this_name}</a>
					</div>
					<div class="f_tips">
						<span>请先从左侧选择要考察的知识点</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="alert">
		最多可添加100道题！
	</div>
	<div class="xf_fanhuidb"><a href="#"></a></div>
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.11.2.custom/jquery-ui.js"></script>
<script>
		$(window).scroll(function() {
			var xf_scroll = $(window).scrollTop();
			if(xf_scroll>360){
				$(".xf_xzleffxf").addClass('xf_scroll');
			}else{
				$(".xf_xzleffxf").removeClass('xf_scroll');
			}
		});
		$(function() {
			$( ".kedu.kedu_3" ).slider({
				min: 0,
				max: 683,
				step: 137,
				slide: function( event, ui ) {
					//alert($( "#amount" ).val( "$" + ui.value ));
					$( ".kedu.kedu_3" ).addClass('hover');
				},
				stop:function(){
					$( ".kedu.kedu_3" ).removeClass('hover');

				}
			});
			// $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
		});
$('.tt_left').find('t').click(function(){
	var obj = $(this);
	$.getJSON(
		'/index.php/home/smart/ajaxSelectPoint',
		{id:$(this).attr('id')},
		function(data){
			if(data.status=='ok'){
				if(obj.parent().hasClass('active')){
					obj.parent().removeClass('active');
				}else{
					obj.parent().addClass('active');
				}
				$('#point_seled').html(data.data.html);
				$('#num_title').html(data.data.p_count);
			}
		}
		
	);
});
function jian(obj,point_id,type_id){
	var val = parseInt(obj.parent().prev().val());
	if(val>0){
		val = val - 1;
		obj.parent().prev().val(val);
	}else{
		return false;
	}
	$.getJSON(
		'/index.php/home/smart/ajaxChangeNums',
		{point_id:point_id,type_id:type_id,num:val},
		function(data){
			if(data.status=='ok'){
				
			}
		}
		
	);
}
function jia(obj,point_id,type_id){
	var val = parseInt(obj.parent().prev().val());
	val = val +1;
	obj.parent().prev().val(val);
	$.getJSON(
		'/index.php/home/smart/ajaxChangeNums',
		{point_id:point_id,type_id:type_id,num:val},
		function(data){
			if(data.status=='ok'){
				
			}
		}
		
	);
}
//开始组卷
$('#goPaperEdit').click(function(){
	$.getJSON(
		'/index.php/home/smart/start',
		function(data){
			if(data.status=='ok'){
				var f = '<php>echo $_GET['for'];</php>';
				if(f==''){
					window.location.href = "/shijuan/";
				}else{
					window.location.href = "/lianxi/add";
				}
				
			}else{
				alert(data.msg);
			}
		}
		
	);
});
$(".na").children("div").click(function(){
	var type = $(this).attr('id');
	$.getJSON(
		'/index.php/home/smart/ajaxchange',
		{type:type},
		function(data){
			if(data.status=='ok'){
				location.reload();
			}
		}
	);
});
function del_p(id){
	$.getJSON(
		'/index.php/home/smart/ajaxRemove',
		{id:id},
		function(data){
			if(data.status=='ok'){
				$('#point_seled').html(data.data.html);
				$('#num_title').html(data.data.p_count);
			}
		}
		
	);
}
	</script>
<!--footer-->
<include file="common:footer" />
